<div class="row">
    <div class="col-sm-12">           
            <h5>Upload Student</h5>
            <hr>
            <form [formGroup]="testForm">
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="testname">Excel File</label>
                        <div class="custom-file">
                            <input type="hidden" formControlName="fileupload" name="" value="">
                            <input type="file" accept=".xlsx" (change)="fileChange1($event)"
                                id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label style="font-size: 17px;" class="custom-file-label"
                                for="inputGroupFile01">{{selectedFileName}}</label>
                        </div>
                    </div>
  
                      
  
                    <div class="form-group col-md-12">
                    <button type="submit" (click)="onSubmit()" class="btn btn-primary" id="addCategoryButton">Add</button>
                    </div>
                </div>
            </form>

        <!-- </app-card> -->
    </div>
  </div>