<style>
	.my-pagination /deep/ .ngx-pagination .current {
	  background:#BEBEBE;
	}
  </style>

<div class="row">
  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Here..." [(ngModel)]="term">
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <button (click)="exportexcel()" class="btn excel">Export Excel</button>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="form-group">
      <h5 class="length">Total Student List :{{length}}</h5>
    </div>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Student List" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-striped" id="excel-tableHide" style="display: none;">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Profile Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">First Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Last Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>

          <th (click)="sort(profilename)">Email-Id&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Mobile Number&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th>Mobile Number</th> -->
          <th (click)="sort(profilename)">Group Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">School Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Guardian Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Guardian Email&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Guardian Phone Number&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Categories&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Subjects&nbsp;<i class="fa fa-sort"></i></th>
          <th >Free Class&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th>Group Name</th>
          <th>School Name</th>
          <th>Guardian Name</th>
          <th>Guardian Email</th>
          <th>Guardian Phone Number</th>
          <th>Categories</th>
          <th>Subjects</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse; let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.profileName}}" aria-hidden="true"></i></td> -->
            <td>{{user.profileName}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.createdAt  | date:'medium':'+0000'}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.userType}}</td>
            <td>{{user.schoolName}}</td>
            <td>{{user.guardianName}}</td>
            <td>{{user.guardianEmail}}</td>
            <td>{{user.guardianPhone}}</td>
            <td>{{user.categories}}</td>
            <td>{{user.subjects}}</td>
            <td><button (click)="goto(user._id)">Add</button></td>
          </tr>
          </tbody>
         
        </table>

        <table class="table table-striped" id="excel-table">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Profile Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">First Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Last Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>

          <th (click)="sort(profilename)">Email-Id&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Mobile Number&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th>Mobile Number</th> -->
          <th (click)="sort(profilename)">Group Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">School Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Guardian Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Guardian Email&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Guardian Phone Number&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Categories&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Subjects&nbsp;<i class="fa fa-sort"></i></th>
          <th >Free Class&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th>Group Name</th>
          <th>School Name</th>
          <th>Guardian Name</th>
          <th>Guardian Email</th>
          <th>Guardian Phone Number</th>
          <th>Categories</th>
          <th>Subjects</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p}; let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.profileName}}" aria-hidden="true"></i></td> -->
            <td>{{user.profileName}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.createdAt  | date:'medium':'+0000'}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.userType}}</td>
            <td>{{user.schoolName}}</td>
            <td>{{user.guardianName}}</td>
            <td>{{user.guardianEmail}}</td>
            <td>{{user.guardianPhone}}</td>
            <td>{{user.categories}}</td>
            <td>{{user.subjects}}</td>
            <td><button (click)="goto(user._id)">Add</button></td>
          </tr>
          </tbody>
         
        </table>
        <h4 class="nodata" *ngIf="resultData == ''" style="color: red">There is No Data in Students..!</h4>
        <pagination-controls (pageChange)=" p = $event" class="my-pagination" style="text-align: right;"></pagination-controls>
      </div>
    </app-card>
  </div>
</div>
