<style>
	.my-pagination /deep/ .ngx-pagination .current {
	  background:#BEBEBE;
	}
  </style>

<div class="row">
  <div class="col-lg-8">
    <div class="form-group">
      <h5 class="length">Total Categories List :{{length}}</h5>
    </div>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Categories" blockClass="table-border-style">
      <div class="table-responsive">
        <table  class="table table-striped " id="excel-tableHide" style="display: none;">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">CategoryID&nbsp;<i class="fa fa-sort"></i></th>

          <th (click)="sort(profilename)">Created On&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Delete&nbsp;<i class="fa fa-sort"></i></th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse; let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.name}}" aria-hidden="true"></i></td> -->
            <td>{{user.categoryName}}</td>
            <td>{{user.categoryID}}</td>
            <td>{{user.CreatedBy  | date:'medium':'+0000'}}</td>
            <td>
              <button type="button" class="btn " data-toggle="modal" data-target="#myModal" (click)="onClick($event,user)">
                Delete
              </button>
            </td>
           
          </tr>
          </tbody>
        </table>

        <table  class="table table-striped " id="excel-table">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">CategoryID&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Created On&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Delete&nbsp;<i class="fa fa-sort"></i></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p} let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.name}}" aria-hidden="true"></i></td> -->
            <td>{{user.categoryName}}</td>
            <td>{{user.categoryID}}</td>
            <td>{{user.CreatedBy  | date:'medium':'+0000'}}</td>
            <td>
              <button type="button" class="btn " data-toggle="modal" data-target="#myModal" (click)="deleteCategory(user)">
                Delete
              </button>
            </td>
           
          </tr>
          </tbody>
        </table>
        <h4 class="nodata" *ngIf="resultData == ''" style="color: red">There is No Data in Categories..!</h4>
        <pagination-controls (pageChange)=" p = $event" class="my-pagination" style="text-align: right;"></pagination-controls>
      </div>
    </app-card>
  </div>
</div>
