<div class="auth-wrapper">
  <!-- [ reset-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <!-- <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4"> -->
            <form [formGroup]="PassResetForm" (ngSubmit)="onPassReset()">
            <h4 class="mb-3 f-w-400">Reset your password</h4>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-mail"></i></span>
              </div>
              <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && resetfval.email.errors }" placeholder="Enter email here"/>
              <div *ngIf="submitted && resetfval.email.errors" class="invalid-feedback">
                 <div *ngIf="resetfval.email.errors.required">Email is required</div>
                 <div *ngIf="resetfval.email.errors.email">Enter valid email address</div>
              </div>
            </div>
            <button class="btn btn-block btn-primary mb-4" type="submit">Reset Password</button>
            <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/signup']" class="f-w-400">Signup</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ reset-password ] end -->
</div>
