
<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <form [formGroup]="signupForm" (ngSubmit)="onSave()">
            <!-- <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4"> -->
            <h4 class="mb-3 f-w-400">Sign up</h4>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-user"></i></span>
              </div>
              <!-- <input type="text" class="form-control" placeholder="First Name"> -->
              <input type="text" formControlName="firstName" class="form-control" [ngClass]="{'is-invalid': submitted && formval.firstName.errors }" placeholder="Enter First Name here" />
                <div *ngIf="submitted && formval.firstName.errors" class="invalid-feedback">
                   <div *ngIf="formval.firstName.errors.required">First Name is required</div>
                </div>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-user"></i></span>
              </div>
              <!-- <input type="text" class="form-control" placeholder="Profile Name"> -->
              <input type="text" formControlName="profileName" class="form-control" [ngClass]="{ 'is-invalid': submitted && formval.profileName.errors }" placeholder="Enter Profile Name here" />
                <div *ngIf="submitted && formval.profileName.errors" class="invalid-feedback">
                   <div *ngIf="formval.profileName.errors.required">Profile Name is required</div>
                </div>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-mail"></i></span>
              </div>
              <!-- <input type="email" class="form-control" placeholder="Email address"> -->
              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && formval.email.errors }" placeholder="Enter email here"/>
              <div *ngIf="submitted && formval.email.errors" class="invalid-feedback">
                 <div *ngIf="formval.email.errors.required">Email is required</div>
                 <div *ngIf="formval.email.errors.email">Enter valid email address</div>
              </div>
            </div>

            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-lock"></i></span>
              </div>
              <!-- <input type="password" class="form-control" placeholder="Password"> -->
              <input type="password" formControlName="passWord" class="form-control" [ngClass]="{ 'is-invalid': submitted && formval.passWord.errors }" placeholder="Enter password here" />
                <div *ngIf="submitted && formval.passWord.errors" class="invalid-feedback">
                   <div *ngIf="formval.passWord.errors.required">Password is required</div>
                </div>
            </div>


            <!-- <div class="form-group text-left mt-2">
              <div class="checkbox checkbox-primary d-inline">
                <input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2">
                <label for="checkbox-fill-2" class="cr">Send me the <a href="javascript:"> Newsletter</a> weekly.</label>
              </div>
            </div> -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <!-- <label class="input-group-text" for="inputGroupSelect01">Options</label> -->
                <span class="input-group-text"><i class="feather icon-users"></i></span>
              </div>
              <!-- formControlName="userType" id="inputGroupSelect01" -->
              <select class="form-control"  formControlName="userType" [ngClass]="{ 'is-invalid': submitted && formval.userType.errors }">
                <!-- <option selected>Select User Type</option> -->
                <option value="" disabled>Select User Type</option>
                <option value="1">Admin</option>
                <option value="2">Partner</option>
                <option value="3">User</option>
              </select>
              <div *ngIf="submitted && formval.userType.errors" class="invalid-feedback">
                <div *ngIf="formval.userType.errors.required">User Type is required</div>
             </div>
            </div>
            <button [disabled]="loading" class="btn btn-primary btn-block mb-4">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Sign up</button>
            <p class="mb-2">Already have an account? <a [routerLink]="['/signin']" class="f-w-400">Signin</a></p>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
