<style>
  .my-pagination /deep/ .ngx-pagination .current {
    background: #BEBEBE;
  }
</style>


<div class="row">
  <form class="form-inline" [formGroup]="invoiceform">
    <div class="form-group mx-sm-3 mb-2">
      <!-- <input type="text" class="form-control" placeholder="Enter Year Ex : 2021" formControlName="Year"
            [ngClass]="{'is-invalid': !f.Year.pristine && f.Year.errors}"> -->
          <br>
          <!-- <p *ngIf="f.Year.errors?.required && submitted" style="color: red">Year is required</p> -->

          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a Start date" formControlName="startDate"
            [ngClass]="{'is-invalid': !f.startDate.pristine && f.startDate.errors}">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br>
          <p *ngIf="f.startDate.errors?.required && submitted" style="color: red">Start Date is required</p>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <!-- <input type="text" class="form-control" placeholder="Enter Month Ex : 1 or 01" formControlName="Month"
      [ngClass]="{'is-invalid': !f.Month.pristine && f.Month.errors}">
    <br>
    <p *ngIf="f.Month.errors?.required && submitted" style="color: red">Month is required</p> -->
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" readonly placeholder="Choose a End date" formControlName="endDate"  [ngClass]="{'is-invalid': !f.endDate.pristine && f.endDate.errors}">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <br>
    <p *ngIf="f.endDate.errors?.required && submitted" style="color: red">End Date is required</p>
    </div>
    <button type="submit" class="btn btn-primary mb-2" (click)="submit()">Submit</button>
    
  </form>
 
  
  <div class="col-lg-4">
    <div class="form-group">
      <h5 class="length">Total Teacher Payments List :{{length}}</h5>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Teacher Name..." [(ngModel)]="filterarrayTeachername" (change)='onOptionsSelectedTeacher($event)'>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Product Name..." [(ngModel)]="filterarray" (change)='onOptionsSelected($event)'>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Class Type..." [(ngModel)]="filterarrayteacher" (change)='onteachernameSelected($event)'>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Senior or Junior..." [(ngModel)]="filterarraysenior" (change)='onSeniorJunior($event)'>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search City..." [(ngModel)]="filterarrayCity" (change)='onCity($event)'>
    </div>
  </div>

  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search MOE..." [(ngModel)]="filterarrayMOE" (change)='onMOE($event)'>
    </div>
  </div>
  <div class="col-lg-2" style="float: right;">
    <div class="form-group">
      <button (click)="exportexcel()" class="btn excel">Export Excel</button>
    </div>
  </div>
</div>






<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Teacher Payments" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-striped" id="excel-tableHide" style="display: none;">
          <thead>
            <tr>
              <th>S.No</th>
              <!-- <th>Delete</th> -->
              <th (click)="sort(profilename)">Product Name&nbsp;<i class="fa fa-sort"></i></th>
              <th (click)="sort(profilename)">Class Type&nbsp;<i class="fa fa-sort"></i></th>
              <!-- <th (click)="sort(profilename)">Class Name&nbsp;<i class="fa fa-sort"></i></th> -->
              <th (click)="sort(profilename)">Teacher Name&nbsp;<i class="fa fa-sort"></i></th>
              <!-- <th (click)="sort(profilename)">City&nbsp;<i class="fa fa-sort"></i></th> -->
              <!-- <th (click)="sort(profilename)">State&nbsp;<i class="fa fa-sort"></i></th> -->
              <!-- <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th> -->
              <th (click)="sort(profilename)">Class Start Time&nbsp;<i class="fa fa-sort"></i></th>
              <th (click)="sort(profilename)">Class End Time&nbsp;<i class="fa fa-sort"></i></th>
              <th (click)="sort(profilename)">Class Duration(Min)&nbsp;<i class="fa fa-sort"></i></th>
              <th (click)="sort(profilename)">Amount (INR)&nbsp;<i class="fa fa-sort"></i></th>
              <th (click)="sort(profilename)">Payment Status&nbsp;<i class="fa fa-sort"></i></th>
              <th (click)="sort(profilename)">Mode of Engagement&nbsp;<i class="fa fa-sort"></i></th>
              <!-- <th (click)="sort(profilename)">Student Name&nbsp;<i class="fa fa-sort"></i></th> -->
              <th (click)="sort(profilename)">Senior Or Junior&nbsp;<i class="fa fa-sort"></i></th>
              
              


              <!-- <th>Full Name</th>
          <th>Course ID</th>
          
          <th>Group Name</th>
          <th>Privacy</th>
          <th>Short Name</th>
          <th>Grade Name</th>
          <th>Subject Name</th>
          <th>Language Name</th>
          <th> Category Name</th>
          <th>Board Name</th>
          <th>Description</th>
          <th>Security Type</th>
          <th>Type Name</th>
          <th>User Type</th> -->
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let user of resultData | filter:filterarray | filter:filterarrayteacher| filter:filterarrayMOE | filter:filterarraysenior | filter:filterarrayCity | filter:filterarrayTeachername | orderBy: key: reverse; let i=index">
              <td>{{ (p - 1) * 10 + i +1 }}</td>
              <td>{{user.paymentDetails.productName}}</td>
              <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.fullName}}" aria-hidden="true"></i></td> -->
              <td>{{user.classType}}</td>
              <!-- <td>{{user.requestDetails.name}}</td> -->
              <td>{{user.teacherID.profileName}}</td>
              <!-- <td *ngIf="user.requestDetails.city == ''" style="color: red;">No Data</td>
              <td *ngIf="user.requestDetails.city !== ''">{{user.requestDetails.city}}</td> -->
              <!-- <td>{{user.teacherID.profileName}}</td> -->
              <!-- <td>{{user.createdDate | date:'medium':'+0000'}}</td> -->
              <td>{{user.startMeeting | date:'medium':'+0000'}}</td>
              <td>{{user.endMeeting | date:'medium':'+0000'}}</td>
              <td>{{user.meetingDuration}}</td>
              <td>INR {{user.paymentDetails.amount}}</td>
              <td *ngIf="user.paymentDetails.isPaid == true" style="color: green;">Paid</td>
              <td *ngIf="user.paymentDetails.isPaid == false" style="color: red;">Not Paid</td>
              <!-- <td>{{user.studentID.profileName}}</td> -->
              <td *ngIf="user.teacherID.modeofEngagement.length > 0">
               {{user.teacherID.modeofEngagement[0].employmentType}}
              </td>
              <td *ngIf="user.teacherID.modeofEngagement.length < 1" style="color: red;">
                No Data
              </td>
              <td>{{user.paymentDetails.seniorOrJunior}}</td>
              
              
              <!-- <td>{{user.boardID ? user.boardID.boardName : 'Not Applicable' }}</td>
              <td>{{user.gradeID ? user.gradeID.gradeName : 'Not Applicable' }}</td>
              <td>{{user.categoryID ? user.categoryID.categoryName : 'Not Applicable' }}</td>
              <td>{{user.languageID ? user.languageID.languageName : 'Not Applicable' }}</td>
              <td>{{user.subjectID ? user.subjectID.subjectName : 'Not Applicable' }}</td> -->
            </tr>
          </tbody>
        </table>

        <table class="table table-striped" id="excel-table">
          <thead>
            <tr>
              <th>S.No</th>
              <!-- <th>Delete</th> -->
              <th (click)="sort(profilename)">Product Name&nbsp;<i class="fa fa-sort"></i></th>
              <th (click)="sort(profilename)">Class Type&nbsp;<i class="fa fa-sort"></i></th>
              <!-- <th (click)="sort(profilename)">Class Name&nbsp;<i class="fa fa-sort"></i></th> -->
              <th (click)="sort(profilename)">Teacher Name&nbsp;<i class="fa fa-sort"></i></th>
              <!-- <th (click)="sort(profilename)">City&nbsp;<i class="fa fa-sort"></i></th> -->
              <!-- <th (click)="sort(profilename)">State&nbsp;<i class="fa fa-sort"></i></th> -->
              <!-- <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th> -->
              <th (click)="sort(profilename)">Class Start Time&nbsp;<i class="fa fa-sort"></i></th>
              <th (click)="sort(profilename)">Class End Time&nbsp;<i class="fa fa-sort"></i></th>
              <th (click)="sort(profilename)">Class Duration(Min)&nbsp;<i class="fa fa-sort"></i></th>
              <th (click)="sort(profilename)">Amount (INR)&nbsp;<i class="fa fa-sort"></i></th>
              <th (click)="sort(profilename)">Payment Status&nbsp;<i class="fa fa-sort"></i></th>
              <th (click)="sort(profilename)">Mode of Engagement&nbsp;<i class="fa fa-sort"></i></th>
              <!-- <th (click)="sort(profilename)">Student Name&nbsp;<i class="fa fa-sort"></i></th> -->
              <th (click)="sort(profilename)">Senior Or Junior&nbsp;<i class="fa fa-sort"></i></th>
              
              


              <!-- <th>Full Name</th>
          <th>Course ID</th>
          
          <th>Group Name</th>
          <th>Privacy</th>
          <th>Short Name</th>
          <th>Grade Name</th>
          <th>Subject Name</th>
          <th>Language Name</th>
          <th> Category Name</th>
          <th>Board Name</th>
          <th>Description</th>
          <th>Security Type</th>
          <th>Type Name</th>
          <th>User Type</th> -->
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let user of resultData | filter:filterarray | filter:filterarrayteacher| filter:filterarrayMOE | filter:filterarraysenior | filter:filterarrayCity | filter:filterarrayTeachername | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p} let i=index">
              <td>{{ (p - 1) * 10 + i +1 }}</td>
              <td>{{user.paymentDetails.productName}}</td>
              <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.fullName}}" aria-hidden="true"></i></td> -->
              <td>{{user.classType}}</td>
              <!-- <td>{{user.requestDetails.name}}</td> -->
              <td>{{user.teacherID.profileName}}</td>
              <!-- <td *ngIf="user.requestDetails.city == ''" style="color: red;">No Data</td>
              <td *ngIf="user.requestDetails.city !== ''">{{user.requestDetails.city}}</td> -->
              <!-- <td>{{user.teacherID.profileName}}</td> -->
              <!-- <td>{{user.createdDate | date:'medium':'+0000'}}</td> -->
              <td>{{user.startMeeting | date:'medium':'+0000'}}</td>
              <td>{{user.endMeeting | date:'medium':'+0000'}}</td>
              <td>{{user.meetingDuration}}</td>
              <td>INR {{user.paymentDetails.amount}}</td>
              <td *ngIf="user.paymentDetails.isPaid == true" style="color: green;">Paid</td>
              <td *ngIf="user.paymentDetails.isPaid == false" style="color: red;">Not Paid</td>
              <!-- <td>{{user.studentID.profileName}}</td> -->
              <td *ngIf="user.teacherID.modeofEngagement.length > 0">
               {{user.teacherID.modeofEngagement[0].employmentType}}
              </td>
              <td *ngIf="user.teacherID.modeofEngagement.length < 1" style="color: red;">
                No Data
              </td>
              <td>{{user.paymentDetails.seniorOrJunior}}</td>
              
              
              <!-- <td>{{user.boardID ? user.boardID.boardName : 'Not Applicable' }}</td>
              <td>{{user.gradeID ? user.gradeID.gradeName : 'Not Applicable' }}</td>
              <td>{{user.categoryID ? user.categoryID.categoryName : 'Not Applicable' }}</td>
              <td>{{user.languageID ? user.languageID.languageName : 'Not Applicable' }}</td>
              <td>{{user.subjectID ? user.subjectID.subjectName : 'Not Applicable' }}</td> -->
            </tr>
          </tbody>
        </table>
        <h4 class="nodata" *ngIf="resultData == ''" style="color: red">There is No Data in Teacher Payments..!</h4>
        <pagination-controls (pageChange)=" p = $event" class="my-pagination" style="text-align: right;">
        </pagination-controls>
      </div>
    </app-card>
  </div>
</div>