<div class="row">
    <div class="col-sm-12">           
            <h5>Upload Topic</h5>
            <hr>
            <form [formGroup]="testForm" >
                <div class="form-row">
                  
                      <div class="form-group col-md-6">
                        <label for="category">Category</label>
                        <select id="category" class="form-control" formControlName="category">
                          <option value="" disabled>Select Category</option>
                          <option *ngFor="let category of categoryapi" [ngValue]="category._id">{{category.categoryName}}</option>
                        </select>
                      </div>
  
                      <div class="form-group col-md-6">
                        <label for="grade">Grade</label>
                        <select id="grade" class="form-control" formControlName="grade" >
                          <option value="" disabled>Select Grade</option>
                          <option *ngFor="let grade of gradeapi" [ngValue]="grade._id">{{grade.gradeName}}</option>
                        </select>
                      </div>
  
                      <div class="form-group col-md-6">
                        <label for="board">Board</label>
                        <select id="board" class="form-control" formControlName="board" >
                          <option value="" disabled>Select Board</option>
                          <option *ngFor="let board of boardapi" [ngValue]="board._id">{{board.boardName}}</option>
                        </select>
                      </div>
  
                      <div class="form-group col-md-6">
                        <label for="subject">Subject</label>
                        <select id="subject" class="form-control" formControlName="subject" >
                          <option value="" disabled>Select Subject</option>
                          <option *ngFor="let subject of subjectapi" [ngValue]="subject._id">{{subject.subjectName}}</option>
                        </select>
                      </div>
  
                      <div class="form-group col-md-6">
                        <label for="inputState">Language</label>
                        <select id="inputState" class="form-control" formControlName="language">
                          <option value="" disabled>Select Language</option>
            
                          <option *ngFor="let language of languageapi" [ngValue]="language._id">{{language.languageName}}</option>
                        </select>
                      </div>
  
                      <div class="form-group col-md-6">
                        <label for="testname">Excel File</label>
                        <div class="custom-file">
                            <input type="hidden" formControlName="fileupload" name="" value="">
                            <input type="file" accept=".xlsx" (change)="fileChange1($event)"
                                id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label style="font-size: 17px;" class="custom-file-label"
                                for="inputGroupFile01">{{selectedFileName}}</label>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                    <button type="submit" (click)="onSubmit()" class="btn btn-primary" id="submitButton">Submit</button>
                    </div>
                </div>
            </form>
        <!-- </app-card> -->
    </div>
  </div>