<style>
	.my-pagination /deep/ .ngx-pagination .current {
	  background:#BEBEBE;
	}
  </style>

    <!-- The Modal -->
    <div class="modal" id="myModal1">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-body">
                <h5> Approve Class Video </h5>

                <hr>

                <div class="row" >
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <p style="font-weight: 600;"> Video Name  : </p>
                </div>

                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                  <p> {{videoname}}</p>
                </div>               
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <p style="font-weight: 600;"> Teacher Name :</p>
                </div>
  
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                  <p> {{teachername}}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <p style="font-weight: 600;"> Created Date :</p>
                </div>
  
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                  <p> {{date | date:'medium':'+0000'}}</p>
                </div>
              </div>

              <div class="row">
                  <textarea cols="30" rows="2" class="form-control"  id="reject" [(ngModel)] = "value"
                                placeholder="Type Reason if you are rejecting"></textarea>
              </div>

            
                
                  <div class="row" style="margin-top: 5%;">
                      <div class="col-md-4 col-lg-4 col-sm-4">
                     
                      </div>
                      <div class="col-md-2 col-lg-2 col-sm-2">
                          <button (click)="acceptvideo()">Publish</button>
                      </div>
                      <div class="col-md-2 col-lg-2 col-sm-2">
                          <button (click)="rejectvideo()">Reject</button>
                      </div>
                      <div class="col-md-2 col-lg-2 col-sm-2" data-dismiss="modal">
                          <button>Cancel</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

<div class="row">
  <div class="col-xl-12">
    <!-- <app-card cardTitle="Teacher List" blockClass="table-border-style"> -->
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
          <th>S.No</th>
          <th (click)="sort(profilename)">Teacher Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Course Name&nbsp;<i class="fa fa-sort"></i></th>
          
          <th (click)="sort(profilename)">Topic Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Video Name&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th>Mobile Number</th> -->
          <th (click)="sort(profilename)">Video&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>
       
          <!-- <th (click)="sort(profilename)">Area&nbsp;<i class="fa fa-sort"></i></th> -->
          <th (click)="sort(profilename)">Privacy&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Action&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th (click)="sort(profilename)">State&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Address 1&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Address 2&nbsp;<i class="fa fa-sort"></i></th>
          <th>KYC Status</th> -->
          <!-- <th (click)="sort(profilename)">Category&nbsp;<i class="fa fa-sort"></i></th> -->
          <!-- <th>Group Name</th>
          <th>School Name</th>
          <th>Guardian Name</th>
          <th>Guardian Email</th>
          <th>Guardian Phone Number</th>
          <th>Categories</th>
          <th>Subjects</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let data of resultData | filter:term | orderBy: key: reverse; let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <td>{{data.teacherID.profileName}}</td>
            <td>{{data.courseID.courseName}}</td>
            <td>{{data.topicID.topicName}}</td>
            <td>{{data.videoName}}</td>
            <td href="javascript:void(0)" (click)="openUrl(data.videoPath)" style=" cursor: pointer;">view</td>
            <td>{{data.topicID.createdAt | date:'medium':'+0000'}}</td>  
            <td>{{data.privacy}}</td>
            <td><button data-toggle="modal" data-target="#myModal1" (click)="videodata(data.videoName,data.teacherID.profileName,data.topicID.createdAt,data._id)">Confirm</button></td>
            <td></td>        
          </tr>
          </tbody>
         
        </table>
     
        <h4 class="nodata" *ngIf="resultData == ''" style="color: red">There is No Video Classes!!!</h4>
        <pagination-controls (pageChange)=" p = $event" class="my-pagination" style="text-align: right;"></pagination-controls>
      </div>
    <!-- </app-card> -->
  </div>
</div>
