<div class="row">
  <div class="col-sm-12">
      <!-- <app-card cardTitle="buddi Tests" [options]="false"> -->
        <h5>Buddi Test</h5>
        <hr>
          <form [formGroup]="testForm" >
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="testname">Test Name</label>
                      <input type="text"  class="form-control"  formControlName="testname"  placeholder="Test Name" [ngClass]="{ 'is-invalid': submitted && f.testname.errors }" required>
                      <div *ngIf="submitted && f.testname.errors" class="invalid-feedback">
                        <div *ngIf="f.testname.errors.required">Test name is required</div>
                      </div>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="testseries">Test Series Type</label>
                      <select id="testseries" class="form-control" formControlName="testseries" >
                        <!-- <option value="" disabled>Select</option> -->
                        <option>Practice</option>
                        <option>Course</option>
                      </select>
                    </div>

                    <div class="col-md-6 description" *ngIf="coursecategorylist.length !=0">
                        <div class="form-group">
                            <label labelStyle>Category</label>
                            <select class="form-control col-md-12" (change)="selectcategoryChange($event)"
                                formControlName="courseCategory">
                                <option value="" disabled>Select Category</option>
                                <option *ngFor="let obj of coursecategorylist" [ngValue]="obj._id">{{obj.categoryName}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 description" *ngIf="modulelist.length !=0">
                        <div class="form-group">
                            <label labelStyle>Module</label>
                            <select class="form-control col-md-12" (change)="selectmoduleChange($event)"
                                formControlName="courseModule">
                                <option value="" disabled>Select Module</option>
                                <option *ngFor="let obj of modulelist" [ngValue]="obj.moduleID">{{obj.moduleName}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 description" *ngIf="templatelist.length !=0">
                        <div class="form-group">
                            <label labelStyle>Template</label>
                            <select class="form-control col-md-12" (change)="selecttemplateChange($event)"
                                formControlName="courseTemplate">
                                <option value="" disabled>Select Template</option>
                                <option *ngFor="let obj of templatelist" [ngValue]="obj._id">{{obj.courseName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                      <label for="inputState">Language</label>
                      <select id="inputState" class="form-control" formControlName="language">
                        <option value="" disabled>Select Language</option>
          
                        <option *ngFor="let language of languageapi" [ngValue]="language.languageName">{{language.languageName}}</option>
                      </select>
                    </div>

                    <div class="form-group col-md-6">
                      <label for="testname">Excel File</label>
                      <div class="custom-file">
                          <input type="hidden" formControlName="fileupload" name="" value="">
                          <input type="file" accept=".xlsx" (change)="fileChange1($event)"
                              id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                          <label style="font-size: 17px;" class="custom-file-label"
                              for="inputGroupFile01">{{selectedFileName}}</label>
                      </div>
                  </div>

                  <div class="form-group col-md-6">
                    <label for="testname">PDF File</label>
                    <div class="custom-file">
                        <input type="hidden" formControlName="fileupload" name="" value="">
                        <input type="file"  accept=".pdf" (change)="fileChange2($event)"
                            id="inputGroupFile02" aria-describedby="inputGroupFileAddon02">
                        <label style="font-size: 17px;" class="custom-file-label"
                            for="inputGroupFile02">{{selectedFileName1}}</label>
                    </div>
                </div>

                <div class="form-group col-md-6">
                  <label for="testseries">Section Format</label>
                  <select id="sectionformat" class="form-control" formControlName="sectionformat" >
                    <!-- <option value="" disabled>Select</option> -->
                    <option>Marks</option>
                    <option>Subject</option>
                  </select>
                </div>

                  <div class="form-group col-md-6">
                      <label for="startdate">Schedule Date</label>
                      <input type="text" class="form-control" id="startdate" formControlName="startdate" placeholder="MM/DD/YYYY, hh:mm AM/PM" [ngClass]="{ 'is-invalid': submitted && f.startdate.errors }" required>
                       <div>Note: MM/DD/YYYY, hh:mm AM/PM</div>                       
                                            <div *ngIf="submitted && f.startdate.errors" class="invalid-feedback">
                                              <div *ngIf="f.startdate.errors.required">End date name is required</div>
                                            </div>
                    </div>
                

               

                  <div class="form-group col-md-6">
                      <label for="numberofquestions">Number of Questions</label>
                      <input type="text"  class="form-control" id="numberofquestions" formControlName="numberofquestions"
                          placeholder="Number of Questions" [ngClass]="{ 'is-invalid': submitted && f.numberofquestions.errors }" required>
                      <div *ngIf="submitted && f.numberofquestions.errors" class="invalid-feedback">
                          <div *ngIf="f.numberofquestions.errors.required">Number of Questions is required</div>
                      </div>
                  </div>

                  <div class="form-group col-md-6">
                      <label for="totaltime">Total Time</label>
                      <input type="text" class="form-control" id="totaltime" formControlName="totaltime"
                          placeholder="Total Time" [ngClass]="{ 'is-invalid': submitted && f.totaltime.errors }" required>
                      <div *ngIf="submitted && f.totaltime.errors" class="invalid-feedback">
                          <div *ngIf="f.totaltime.errors.required">Total Time is required</div>
                      </div>
                  </div>

                  <div class="form-group col-md-6">
                      <label for="totalmarks">Total Marks</label>
                      <input type="text" class="form-control" id="totalmarks" formControlName="totalmarks"
                          placeholder="Total Marks" [ngClass]="{ 'is-invalid': submitted && f.totalmarks.errors }" required>
                      <div *ngIf="submitted && f.totalmarks.errors" class="invalid-feedback">
                          <div *ngIf="f.totalmarks.errors.required">Total Marks is required</div>
                      </div>
                  </div>
                  <div class="form-group col-md-12">
                  <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
                  </div>
              </div>
          </form>
      <!-- </app-card> -->
  </div>
</div>