<div class="auth-wrapper">
  <div class="blur-bg-images"></div>
  <!-- [ change-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="card-body">
            <!-- <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4"> -->
            <h4 class="mb-4 f-w-400">Change your password</h4>
            <div class="input-group mb-2">
              <input type="password" class="form-control" placeholder="Current Password">
            </div>
            <div class="input-group mb-2">
              <input type="password" class="form-control" placeholder="New Password">
            </div>
            <div class="input-group mb-4">
              <input type="password" class="form-control" placeholder="Re-Type New Password">
            </div>
            <button class="btn btn-block btn-primary mb-4">Change password</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ change-password ] end -->
</div>
