<style>
	.my-pagination /deep/ .ngx-pagination .current {
	  background:#BEBEBE;
	}
  </style>


<div class="row" >
  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Here..." [(ngModel)]="term">
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <button (click)="exportexcel()" class="btn excel">Export Excel</button>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="form-group">
      <h5 class="length">Total One on One Classes Accepted List :{{length}}</h5>
    </div>
  </div>
  <div class="col-xl-12" >
    <app-card cardTitle="Accepted" blockClass="table-border-style" >
      <div class="table-responsive">
        <table class="table table-striped" id="excel-tableHide" style="display: none;" >
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Class Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Full Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Class Schedule Date&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Board &nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Grade &nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Category &nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Language &nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Subject &nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Status&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Type&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Teacher Details&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Student Details&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th>Full Name</th>
          <th>Course ID</th>
          
          <th>Group Name</th>
          <th>Privacy</th>
          <th>Short Name</th>
          <th>Grade Name</th>
          <th>Subject Name</th>
          <th>Language Name</th>
          <th> Category Name</th>
          <th>Board Name</th>
          <th>Description</th>
          <th>Security Type</th>
          <th>Type Name</th>
          <th>User Type</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse; let i=index" >
            
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <td>{{user.name}}</td>
            <td>{{user.fullName}}</td>
            <td>{{user.CreatedBy | date:'medium':'+0000'}}</td>
            <td>{{user.ScheduleDate | date:'medium':'+0000'}}</td>
            <td>{{user.boardID ? user.boardID.boardName : 'No Data' }}</td>
           
            <td>{{user.gradeID ? user.gradeID.gradeName : 'No Data' }}</td>
            <td>{{user.categoryID ? user.categoryID.categoryName : 'No Data' }}</td>
            <td>{{user.languageID ? user.languageID.languageName : 'No Data' }}</td>
            <td>{{user.subjectID ? user.subjectID.subjectName : 'No Data' }}</td>
            <td *ngIf="user.acceptStatus==true" style="color: green;">Accepted</td>
            <!-- <td *ngIf="user.acceptStatus==false" style="color: red;">Pending</td> -->
            <td>{{user.teacherType}}</td>
            <td>
            <button type="button" class="btn " data-toggle="modal" data-target="#myModal" (click)="onClick($event,user)">
              View
            </button>
          </td>
          <td>
            <button type="button" class="btn " data-toggle="modal" data-target="#myModalStudent" (click)="onStudent($event,user)">
              View
            </button>
          </td>
          </tr>
          </tbody>
        </table>

        <table class="table table-striped" id="excel-table" >
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Class Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Full Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Class Schedule Date&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Board &nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Grade &nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Category &nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Language &nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Subject &nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Status&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Type&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Teacher Details&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Student Details&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th>Full Name</th>
          <th>Course ID</th>
          
          <th>Group Name</th>
          <th>Privacy</th>
          <th>Short Name</th>
          <th>Grade Name</th>
          <th>Subject Name</th>
          <th>Language Name</th>
          <th> Category Name</th>
          <th>Board Name</th>
          <th>Description</th>
          <th>Security Type</th>
          <th>Type Name</th>
          <th>User Type</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p} let i=index" >
            
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <td>{{user.name}}</td>
            <td>{{user.fullName}}</td>
            <td>{{user.CreatedBy | date:'medium':'+0000'}}</td>
            <td>{{user.ScheduleDate | date:'medium':'+0000'}}</td>
            <td>{{user.boardID ? user.boardID.boardName : 'No Data' }}</td>
           
            <td>{{user.gradeID ? user.gradeID.gradeName : 'No Data' }}</td>
            <td>{{user.categoryID ? user.categoryID.categoryName : 'No Data' }}</td>
            <td>{{user.languageID ? user.languageID.languageName : 'No Data' }}</td>
            <td>{{user.subjectID ? user.subjectID.subjectName : 'No Data' }}</td>
            <td *ngIf="user.acceptStatus==true" style="color: green;">Accepted</td>
            <!-- <td *ngIf="user.acceptStatus==false" style="color: red;">Pending</td> -->
            <td>{{user.teacherType}}</td>
            <td>
            <button type="button" class="btn " data-toggle="modal" data-target="#myModal" (click)="onClick($event,user)">
              View
            </button>
          </td>
          <td>
            <button type="button" class="btn " data-toggle="modal" data-target="#myModalStudent" (click)="onStudent($event,user)">
              View
            </button>
          </td>
          </tr>
          </tbody>
        </table>
        <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Teacher Details:</h4>
                <button type="button" class="close" data-dismiss="modal" (click) = "hides()">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
  
               <p><b>Firstname :</b> {{firstName}}</p>
               <p><b>Lastname :</b> {{lastName}}</p>
               <p><b>Profile name :</b> {{profileName}}</p>
               <p><b>School name :</b> {{schoolName}}</p>
               <p><b>Email :</b> {{email}}</p>
               <p><b>Phone Number :</b> {{phoneNumber}}</p>
               <p><b>Teacher ID :</b> {{teacherID}}</p>
               <p><b>Address 1 :</b> {{address1}}</p>
               <p><b>Address 2 :</b> {{address2}}</p>
               <p><b>Area :</b> {{area}}</p>
               <p><b>City :</b> {{city}}</p>
               <p><b>Country Name :</b> {{country}}</p>
               <!-- <p>Group Name : {{groupName}}</p> -->
              
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hides()">Close</button>
              </div>
              
            </div>
          </div>
        </div>

        <div class="modal" id="myModalStudent" [style.display]="showModals ? 'block' : 'none'">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Student Details:</h4>
                <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
  
                <p><b>Firstname :</b> {{StudentfirstName}}</p>
                <p><b>Lastname :</b> {{StudentlastName}}</p>
                <p><b>Profile name :</b> {{StudentprofileName}}</p>
                <p><b>School name :</b> {{StudentschoolName}}</p>
                <p><b>Gender :</b> {{Studentgender}}</p>
                <p><b>Email :</b> {{Studentemail}}</p>
                <p><b>Phone Number :</b> {{StudentphoneNumber}}</p>
                <p><b>Student ID :</b> {{StudentstudentID}}</p>
                <p><b>Address 1 :</b> {{Studentaddress1}}</p>
                <p><b>Address 2 :</b> {{Studentaddress2}}</p>
                <p><b>Area :</b> {{Studentarea}}</p>
                <p><b>City :</b> {{Studentcity}}</p>
                <p><b>Country Name :</b> {{Studentcountry}}</p>
               <!-- <p>Group Name : {{groupName}}</p> -->
              
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
              </div>
              
            </div>
          </div>
        </div>
        <pagination-controls (pageChange)=" p = $event" class="my-pagination" style="text-align: right;"></pagination-controls>
      </div>
    </app-card>
  </div>
</div>
