<style>
	.my-pagination /deep/ .ngx-pagination .current {
	  background:#BEBEBE;
	}
  </style>


<div class="row">
  <!-- <form class="form-inline" [formGroup]="invoiceform">
    <div class="form-group mx-sm-3 mb-2">
      
          <br>
       
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a Start date" formControlName="startDate"
            [ngClass]="{'is-invalid': !f.startDate.pristine && f.startDate.errors}">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br>
          <p *ngIf="f.startDate.errors?.required && submitted" style="color: red">Start Date is required</p>
    </div>
    <div class="form-group mx-sm-3 mb-2">
     
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" readonly placeholder="Choose a End date" formControlName="endDate"  [ngClass]="{'is-invalid': !f.endDate.pristine && f.endDate.errors}">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <br>
    <p *ngIf="f.endDate.errors?.required && submitted" style="color: red">End Date is required</p>
    </div>
    <button type="submit" class="btn btn-primary mb-2" (click)="submit()">Submit</button>
    
  </form> -->
  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Here..." [(ngModel)]="term">
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <button (click)="exportexcel()" class="btn excel">Export Excel</button>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="form-group">
      <h5 class="length">Total buddi Payments List :{{length}}</h5>
    </div>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Payments" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-striped" id="excel-tableHide" style="display: none;">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          
          <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>

          <th (click)="sort(profilename)">Student Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Product Price&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Product Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Remaining Class&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Remaining Exams&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Transaction ID&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Invoice ID&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Valid From&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Valid Till&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Invoice URL&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Student Details&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Product Details&nbsp;<i class="fa fa-sort"></i></th>

      
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse; let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.fullName}}" aria-hidden="true"></i></td> -->
            
            <td>{{user.createdDate  | date:'medium':'+0000'}}</td>
            <td>{{user.userId ? user.userId.profileName : 'Not Applicable' }}</td>
            <td>{{user.productPrice}}</td>
            <td>{{user.productDetails ? user.productDetails.productName : 'Not Applicable' }}</td>
            <td>{{user.remainingClass}}</td>
            <td>{{user.remainingExam}}</td>
            <td>{{user.transactionID }}</td>
            <td *ngIf="user.invoiceID == ''" style="color: red;">No Data</td>
            <td *ngIf="user.invoiceID !== ''">{{user.invoiceID  }}</td>
            <td>{{user.validFrom | date:'medium':'+0000' }}</td>
            <td>{{user.validTill | date:'medium':'+0000' }}</td>
            <td *ngIf="user.invoiceURL == ''" style="color: red;">No URL</td>
            <td *ngIf="user.invoiceURL !== ''"><a href='{{user.invoiceURL}}'>Invoice</a></td>
            <td>
              <button type="button" class="btn " data-toggle="modal" data-target="#myModal" (click)="onStudent($event,user)">
                View
              </button>
            </td>
            <td>
              <button type="button" class="btn " data-toggle="modal" data-target="#myModalStudent" (click)="onClick($event,user)">
                View
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <table class="table table-striped" id="excel-table">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          
          <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>

          <th (click)="sort(profilename)">Student Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Product Price&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Product Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Remaining Class&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Remaining Exams&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Transaction ID&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Invoice ID&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Valid From&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Valid Till&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Invoice URL&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Student Details&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Product Details&nbsp;<i class="fa fa-sort"></i></th>

      
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p} let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.fullName}}" aria-hidden="true"></i></td> -->
            
            <td>{{user.createdDate  | date:'medium':'+0000'}}</td>
            <td>{{user.userId ? user.userId.profileName : 'Not Applicable' }}</td>
            <td>{{user.productPrice}}</td>
            <td>{{user.productDetails ? user.productDetails.productName : 'Not Applicable' }}</td>
            <td>{{user.remainingClass}}</td>
            <td>{{user.remainingExam}}</td>
            <td>{{user.transactionID }}</td>
            <td *ngIf="user.invoiceID == ''" style="color: red;">No Data</td>
            <td *ngIf="user.invoiceID !== ''">{{user.invoiceID  }}</td>
            <td>{{user.validFrom | date:'medium':'+0000' }}</td>
            <td>{{user.validTill | date:'medium':'+0000' }}</td>
            <td *ngIf="user.invoiceURL == ''" style="color: red;">No URL</td>
            <td *ngIf="user.invoiceURL !== ''"><a href='{{user.invoiceURL}}'>Invoice</a></td>
            <td>
              <button type="button" class="btn " data-toggle="modal" data-target="#myModal" (click)="onStudent($event,user)">
                View
              </button>
            </td>
            <td>
              <button type="button" class="btn " data-toggle="modal" data-target="#myModalStudent" (click)="onClick($event,user)">
                View
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Student Details:</h4>
                <button type="button" class="close" data-dismiss="modal" (click) = "hides()">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                
                <p><b>Firstname :</b> {{StudentfirstName}}</p>
                <p><b>Lastname :</b> {{StudentlastName}}</p>
                <p><b>Student ID :</b> {{StudentstudentID}}</p>
                <p><b>School name :</b> {{StudentschoolName}}</p>
                <p><b>Email :</b> {{Studentemail}}</p>
                <p><b>Gender :</b> {{Studentgender}}</p>
                <p><b>Phone Number :</b> {{StudentphoneNumber}}</p>
                <p><b>Student ID :</b> {{StudentstudentID}}</p>
                <p><b>Address 1 :</b> {{Studentaddress1}}</p>
                <p><b>Address 2 :</b> {{Studentaddress2}}</p>
                <p><b>Area :</b> {{Studentarea}}</p>
                <p><b>City :</b> {{Studentcity}}</p>
                <p><b>Country Name :</b> {{Studentcountry}}</p>

              
               
              
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hides()">Close</button>
              </div>
              
            </div>
          </div>
        </div>

        <div class="modal" id="myModalStudent" [style.display]="showModals ? 'block' : 'none'">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Product Details:</h4>
                <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
  
                <p><b>Product name :</b> {{productname}}</p>
                <p><b>Product ID :</b> {{productid}}</p>
                <p><b>Product Code :</b> {{productcode}}</p>
                <p><b>Product Description :</b> {{productdescription}}</p>
                <p><b>Product Price :</b> {{productprice}}</p>
                <p><b>currency :</b> {{currency}}</p>
                <p><b>Total Class :</b> {{totalclass}}</p>
                <p><b>Total Exam :</b> {{totalexam}}</p>
               <!-- <p>Group Name : {{groupName}}</p> -->
              
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
              </div>
              
            </div>
          </div>
        </div>


        <h4 class="nodata" *ngIf="resultData == ''" style="color: red">There is No Data in buddi Payments..!</h4>
        <pagination-controls (pageChange)=" p = $event" class="my-pagination" style="text-align: right;"></pagination-controls>
      </div>
    </app-card>
  </div>
</div>
