<div class="row">
    <div class="col-sm-12">           
            <h5>Upload Class Course</h5>
            <hr>
            <form [formGroup]="createForm">
                <div class="form-row">
                  
                    <div class="form-group col-md-6">
                        <label for="testname">Choose File</label>
                        <div class="custom-file">
                            <input type="hidden" formControlName="fileupload"  name="" value="">
                            <input type="file" class="custom-file-input" accept=".xlsx" (change)="fileChange($event)" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01" [ngClass]="{ 'is-invalid': submitted && f.fileupload.errors}">
                            <label class="custom-file-label" for="inputGroupFile01">{{selectedFileName}}</label>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="testname">Thumbnail Image</label>
                        <div class="custom-file">
                            <input type="hidden" formControlName="thumbnailupload"  name="" value="">
                            <input type="file" class="custom-file-input" accept="image" (change)="thumbnailchange($event)" id="inputGroupFile02"
                                aria-describedby="inputGroupFileAddon02" [ngClass]="{ 'is-invalid': submitted && f.thumbnailupload.errors}">
                            <label class="custom-file-label" for="inputGroupFile02">{{selectedThumbnailName}}</label>
                        </div>
                    </div>
  
  
                    <div class="form-group col-md-12">
                    <button type="submit" (click)="onSubmit()" class="btn btn-primary" id="submitButton">Upload</button>
                    </div>
                </div>
            </form>

    </div>
  </div>