<!-- <app-header-style-one-teacher></app-header-style-one-teacher> -->
<div class="container">

    <div class="page-title-content">
        <div class="row">
            <div class="col-lg-10">
                <h3 style="color: black;">KYC</h3>
            </div>
        </div>
    </div>
</div>
<section class="login-area pagebackground">
    <div class="m-0">       
        <div class="">
            <section class="my-dashboard-area" style="padding-bottom: 50px;">
                <div class="container">
                     <div *ngIf="kycdetails.length ==0 && !this.kycStatusReject">
                        Teacher not uploaded KYC
                    </div>
                    <div class="text-danger" *ngIf="this.kycStatusReject">
                        Teacher KYC Rejected
                    </div>
                      <div class="text-success" *ngIf="kycdetails.length !=0 && this.isAccept">
                        Teacher KYC Accepted
                    </div>
                    <br>
                    <div class="myDashboard-content row " *ngIf="kycdetails.length!=0">
                        <div class="col-lg-3 mt-5">
                            <b>Gender</b>
                        </div>
                        <div class="col-lg-3 mt-5">
                            {{TeacherDetails.gender ? TeacherDetails.gender: '-'}}
                        </div>
                        <div class="col-lg-3 mt-5">
                            <b>Location</b>
                        </div>
                        <div class="col-lg-3 mt-5">
                             {{TeacherDetails.location ? TeacherDetails.location: '-'}}
                        </div>
                        <div class="col-lg-3 mt-5">
                            <b>Grade you would Comfortable in Teaching</b>
                        </div>
                        <div class="col-lg-3 mt-5">
                            <span *ngFor="let slide of TeacherDetails.grades;let i = index; first as isFirst; last as isLast">
                                {{slide.gradeName}}<span *ngIf="!isLast">,</span>
                            </span>
                        </div>
                        <div class="col-lg-3 mt-5">
                            <b>Boards you can handle</b>
                        </div>
                        <div class="col-lg-3 mt-5">
                            <span *ngFor="let slide of TeacherDetails.boards;let i = index; first as isFirst; last as isLast">
                                {{slide.boardName}}<span *ngIf="!isLast">,</span>
                            </span>
                        </div>
                        <div class="col-lg-3 mt-5">
                            <b>Primary subject of teaching</b>
                        </div>
                        <div class="col-lg-3 mt-5">
                            <span *ngFor="let slide of TeacherDetails.subjects;let i = index; first as isFirst; last as isLast">
                                {{slide.subjectName}}<span *ngIf="!isLast">,</span>
                            </span>
                        </div>

                        <div class="col-lg-3 mt-5">
                             <b>Total year of Teaching Experience</b>
                        </div>
                        <div class="col-lg-3 mt-5">
                           <span>{{kycdetails.yearofexperience ? kycdetails.yearofexperience: '-'}}</span>
                        </div>
                        <div class="col-lg-3 mt-5">
                             <b>Available Timing or Hrs available per day</b>
                        </div>
                        <div class="col-lg-3 mt-5">
                            <span *ngFor="let slide of TeacherDetails.availableTimes;let i = index; first as isFirst; last as isLast">
                                <span *ngIf="slide.isUS"><b>US Timings</b> 
                                    <br>
                                    {{slide.time}}
                                </span>
                                <br>
                                <span *ngIf="!slide.isUS">
                                    
                                    <b>India Timings</b> 
                                    <br>
                                    {{slide.time}}
                                </span>
                            </span>
                        </div>
                        <div class="col-lg-3 mt-5">
                             <b>Current Occupation</b>
                        </div>
                        <div class="col-lg-3 mt-5">
                            <div *ngIf="TeacherDetails.currentOccupation.length!=0 ; else noOccupation">
                                <span *ngFor="let slide of TeacherDetails.currentOccupation;let i = index; first as isFirst; last as isLast">
                                    {{slide.occupationName}}<span *ngIf="!isLast">,</span>
                                </span>
                            </div>                            
                            <ng-template #noOccupation>
                                -
                            </ng-template>
                        </div>
                        <div class="col-lg-3 mt-5">
                             <b>Mode of Engagement</b>
                        </div>
                        <div class="col-lg-3 mt-5">
                            <div *ngIf="TeacherDetails.modeofEngagement.length!=0 ; else noEmployement">
                                <span *ngFor="let slide of TeacherDetails.modeofEngagement;let i = index; first as isFirst; last as isLast">
                               {{slide.employmentType}}<span *ngIf="!isLast">,</span>
                                </span>
                            </div>                            
                            <ng-template #noEmployement>
                                -
                            </ng-template>                            
                        </div>
                        <div class="col-lg-3 mt-5">
                             <b>buddi Packages Interested</b>
                        </div>
                        <div class="col-lg-3 mt-5">
                            <div *ngIf="TeacherDetails.packageInterest.length!=0 ; else noPackage">
                                <span *ngFor="let slide of TeacherDetails.packageInterest;let i = index; first as isFirst; last as isLast">
                                    {{slide.selectPackageName}}<span *ngIf="!isLast">,</span>
                                </span>
                            </div>                            
                            <ng-template #noPackage>
                                -
                            </ng-template>

                            
                        </div>
                        <div class="col-lg-3 mt-5">
                             <b>Types of internet Connection</b>
                        </div>
                        <div class="col-lg-3 mt-5">
                            <div *ngIf="TeacherDetails.internetConnection.length!=0 ; else noInternet">
                                <span *ngFor="let slide of  TeacherDetails.internetConnection;let i = index; first as isFirst; last as isLast">
                                    {{slide.NetworkConnection}}<span *ngIf="!isLast">,</span>

                                </span>
                            </div>                            
                            <ng-template #noInternet>
                                -
                            </ng-template>                           
                        </div>
                        <div class="col-lg-3 mt-5">
                             <b>Available Device</b>
                        </div>
                        <div class="col-lg-3 mt-5">
                            <span *ngFor="let slide of TeacherDetails.availableDevice;let i = index; first as isFirst; last as isLast">
                               {{slide.deviceName}}<span *ngIf="!isLast">,</span>
                            </span>
                        </div>
                        <div class="col-lg-3 mt-5">
                             <b>Head phone with MIC</b>
                        </div>
                        <div class="col-lg-3 mt-5">
                            <span>
                               {{TeacherDetails.phonemic}}
                            </span>
                        </div>

                        <div class="col-lg-6 mt-5">
                        </div>
                        <div class="col-lg-6 mt-5">
                             <b>Resume</b>
                        </div>
                        <div class="col-lg-6 mt-5">
                            <img *ngIf="TeacherDetails.resume.search('pdf')==-1" [src]="TeacherDetails.resume"(click)="redirectImage(TeacherDetails.resume)" alt="Click to View PDF" style="
                            width: 150px;
                            height: 100px;
                            margin-bottom:30px;
                        ">
                            <div *ngIf="TeacherDetails.resume.search('pdf')!=-1">
                                <img src="assets/images/pdf.svg" class="mb-1" style="height: 50px;width: 100px" (click)="redirectImage(TeacherDetails.resume)">
                            </div>
                        </div>
                        <div class="col-lg-6 mt-5">
                             <b>Upload Passport Photo</b>
                        </div>
                        <div class="col-lg-6 mt-5">
                            <img *ngIf="kycdetails.passportPhoto.search('pdf')==-1" [src]="kycdetails.passportPhoto"(click)="redirectImage(kycdetails.passportPhoto)" alt="Click to View PDF" style="
                            width: 150px;
                            height: 100px;
                            margin-bottom:30px;
                        ">
                            <div *ngIf="kycdetails.passportPhoto.search('pdf')!=-1">
                                <img src="assets/images/pdf.svg" class="mb-1" style="height: 50px;width: 100px" (click)="redirectImage(kycdetails.passportPhoto)">
                            </div>
                        </div>
                        <div class="col-lg-6 mt-5">
                             <b>Upload Identity and Address Proof</b> (Front Side)
                        </div>
                        <div class="col-lg-6 mt-5">
                            <img *ngIf="kycdetails.addressProofFront.search('pdf')==-1" [src]="kycdetails.addressProofFront"(click)="redirectImage(kycdetails.addressProofFront)" alt="Click to View PDF" style="
                            width: 150px;
                            height: 100px;
                            margin-bottom:30px;">
                            <div *ngIf="kycdetails.addressProofFront.search('pdf')!=-1">
                                <img src="assets/images/pdf.svg" class="mb-1" style="height: 50px;width: 100px" (click)="redirectImage(kycdetails.addressProofFront)">
                            </div>
                        </div>
                        <div class="col-lg-6 mt-5">
                             <b>Upload Identity and Address Proof </b>(back Side)
                        </div>
                        <div class="col-lg-6 mt-5">
                            <img *ngIf="kycdetails.addressProofBack.search('pdf')==-1" [src]="kycdetails.addressProofBack"(click)="redirectImage(kycdetails.addressProofBack)" alt="Click to View PDF" style="
                            width: 150px;
                            height: 100px;
                            margin-bottom:30px;
                        ">
                            <div *ngIf="kycdetails.addressProofBack.search('pdf')!=-1">
                                <img src="assets/images/pdf.svg" class="mb-1" style="height: 50px;width: 100px" (click)="redirectImage(kycdetails.addressProofBack)">
                            </div>
                        </div>
                        <div class="col-lg-6 mt-5">
                           <b>Pan </b>
                        </div>
                        <div class="col-lg-6 mt-5">
                            <img *ngIf="kycdetails.panCard.search('pdf')==-1" [src]="kycdetails.panCard"(click)="redirectImage(kycdetails.panCard)" alt="Click to View PDF" style="
                            width: 150px;
                            height: 100px;
                            margin-bottom:30px;
                        ">
                            <div *ngIf="kycdetails.addressProofBack.search('pdf')!=-1">
                                <img src="assets/images/pdf.svg" class="mb-1" style="height: 50px;width: 100px" (click)="redirectImage(kycdetails.addressProofBack)">
                            </div>
                        </div>
                        <div class="col-lg-6 mt-5">
                         <b>Under Graduates </b>
                        </div>
                        <div class="col-lg-6 mt-5">
                            <img *ngIf="kycdetails.underGraduates.search('pdf')==-1" [src]="kycdetails.underGraduates"(click)="redirectImage(kycdetails.underGraduates)" alt="Click to View PDF" style="
                            width: 150px;
                            height: 100px;
                            margin-bottom:30px;
                        ">
                            <div *ngIf="kycdetails.underGraduates.search('pdf')!=-1">
                                <img src="assets/images/pdf.svg" class="mb-1" style="height: 50px;width: 100px" (click)="redirectImage(kycdetails.underGraduates)">
                            </div>
                        </div>
                        <div class="col-lg-6 mt-5" >
                             <b>Post Graduates </b>
                        </div>
                        <div class="col-lg-6 mt-5">
                            <img *ngIf="kycdetails.postGraduates.search('pdf')==-1"[src]="kycdetails.postGraduates"(click)="redirectImage(kycdetails.postGraduates)" alt="img" style="
                            width: 150px;
                            height: 100px;
                            margin-bottom:30px;
                        ">
                        <div *ngIf="kycdetails.postGraduates.search('pdf')!=-1">
                            <img src="assets/images/pdf.svg" class="mb-1" style="height: 50px;width: 100px" (click)="redirectImage(kycdetails.postGraduates)">
                        </div>
                        </div>
                        <div class="col-lg-6 mt-5" *ngIf="!kycdetails.isApproved">
                           <button (click)="kycStatusUpdate(true)">Accept</button>
                        </div>
                        <div class="col-lg-6 mt-5" *ngIf="!kycdetails.isApproved">
                           <button (click)="kycStatusUpdate(false)">Reject</button>
                        </div>
                    </div>
                   
                   <!--  <div *ngIf="kycdetails.isApproved">
                        KYC Approved
                    </div> -->
                   
                </div>
            </section>
        </div>

       
    </div>
</section>
