<style>
	.my-pagination /deep/ .ngx-pagination .current {
	  background:#BEBEBE;
	}
  </style>


<div class="row">
  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Here..." [(ngModel)]="term" >
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <button (click)="exportexcel()" class="btn excel">Export Excel</button>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="form-group">
      <h5 class="length">Total Contact List :{{length}}</h5>
    </div>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="ContactUs - Register" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-striped" id="excel-tableHide" style="display: none;">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Email&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Message&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Mobile Number&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Subject&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">User Type&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Contact ID&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th>Full Name</th>
          <th>Short Name</th>
          <th>Total Score</th>
          <th>Exam Id</th>
          <th>Exam Length</th>
          <th>Number of Questions</th>
          <th>Group Name</th>
          
          <th>Grade Name</th>
          <th>Subject Name</th>
          <th>Language Name</th>
          <th>Board Name</th>
          <th>Privacy</th>
          <th>Description</th>
          <th>Pricing Type</th> -->
          <!-- <th>Type Name</th>
          <th>User Type</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse; let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.fullName}}" aria-hidden="true"></i></td> -->
            <td>{{user.name}}</td>
            <td>{{user.createdAt  | date:'medium':'+0000'}}</td>
            <td>{{user.email}}</td>
            <td>{{user.message}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.subject}}</td>
            <td>{{user.userType}}</td>
            <td>{{user.contactID}}</td>
           
          </tr>
          </tbody>
        </table>
        <table class="table table-striped" id="excel-table">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Email&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Message&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Mobile Number&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Subject&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">User Type&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Contact ID&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th>Full Name</th>
          <th>Short Name</th>
          <th>Total Score</th>
          <th>Exam Id</th>
          <th>Exam Length</th>
          <th>Number of Questions</th>
          <th>Group Name</th>
          
          <th>Grade Name</th>
          <th>Subject Name</th>
          <th>Language Name</th>
          <th>Board Name</th>
          <th>Privacy</th>
          <th>Description</th>
          <th>Pricing Type</th> -->
          <!-- <th>Type Name</th>
          <th>User Type</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p} let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.fullName}}" aria-hidden="true"></i></td> -->
            <td>{{user.name}}</td>
            <td>{{user.createdAt  | date:'medium':'+0000'}}</td>
            <td>{{user.email}}</td>
            <td>{{user.message}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.subject}}</td>
            <td>{{user.userType}}</td>
            <td>{{user.contactID}}</td>
           
          </tr>
          </tbody>
        </table>
        <h4 class="nodata" *ngIf="resultData == ''" style="color: red">There is No Data in ContactUs Register..!</h4>
        <pagination-controls (pageChange)=" p = $event" class="my-pagination" style="text-align: right;"></pagination-controls>
      </div>
    </app-card>
  </div>
</div>
