<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
            <!-- <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4"> -->
            <h4 class="mb-3 f-w-400">Signin</h4>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-mail"></i></span>
              </div>
              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" placeholder="Enter email here"/>
              <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                 <div *ngIf="fval.email.errors.required">Email is required</div>
                 <div *ngIf="fval.email.errors.email">Enter valid email address</div>
              </div>
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-lock"></i></span>
              </div>
              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.password.errors }" placeholder="Enter password here" />
                <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
                   <div *ngIf="fval.password.errors.required">Password is required</div>
                </div>
            </div>
            <!-- <div class="form-group text-left mt-2">
              <div class="checkbox checkbox-primary d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                <label for="checkbox-fill-a1" class="cr"> Save credentials</label>
              </div>
            </div> -->
            <button [disabled]="loading" class="btn btn-block btn-primary mb-4">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Signin
            </button>
            <!-- <p class="mb-2 text-muted">Forgot password? <a [routerLink]="['/reset-password']" class="f-w-400">Reset Password</a></p>
            <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/signup']" class="f-w-400">Signup</a></p> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
