<style>
	.my-pagination /deep/ .ngx-pagination .current {
	  background:#BEBEBE;
	}
  </style>

<div class="row">
  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Here..." [(ngModel)]="term" >
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <button (click)="exportexcel()" class="btn excel">Export Excel</button>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="form-group">
      <h5 class="length">Total Exams List :{{length}}</h5>
    </div>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Exams" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-striped" id="excel-tableHide" style="display: none;">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Full Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Short Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Total Score&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Exam Id&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Exam Length&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Number of Questions&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Group Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Board Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Grade Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Category Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Language Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Subject Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Privacy&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Description&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Pricing Type&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th>Full Name</th>
          <th>Short Name</th>
          <th>Total Score</th>
          <th>Exam Id</th>
          <th>Exam Length</th>
          <th>Number of Questions</th>
          <th>Group Name</th>
          
          <th>Grade Name</th>
          <th>Subject Name</th>
          <th>Language Name</th>
          <th>Board Name</th>
          <th>Privacy</th>
          <th>Description</th>
          <th>Pricing Type</th> -->
          <!-- <th>Type Name</th>
          <th>User Type</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse; let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.fullName}}" aria-hidden="true"></i></td> -->
            <td>{{user.fullName}}</td>
            <td>{{user.shortName}}</td>
            <td>{{user.createdDate  | date:'medium':'+0000'}}</td>
            <td>{{user.totalScore}}</td>
            <td>{{user.examID}}</td>
            <td>{{user.examLength}}</td>
            <td>{{user.numberOfQuestions}}</td>
            <td>{{user.groupName}}</td>
           
            <td>{{user.boardID ? user.boardID.boardName : 'Not Applicable' }}</td>
            <td>{{user.gradeID ? user.gradeID.gradeName : 'Not Applicable' }}</td>
            <td>{{user.categoryID ? user.categoryID.categoryName : 'Not Applicable' }}</td>
            <td>{{user.languageID ? user.languageID.languageName : 'Not Applicable' }}</td>
            <td>{{user.subjectID ? user.subjectID.subjectName : 'Not Applicable' }}</td>
            <td>{{user.privacy}}</td>
            <td>{{user.description}}</td>
            <td>{{user.pricingType}}</td>
            <!-- <td>{{user.typename}}</td>
            <td>{{user.userType}}</td>
            <td>{{list}}</td> -->
          </tr>
          </tbody>
        </table>
        <table class="table table-striped" id="excel-table">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Full Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Short Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Total Score&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Exam Id&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Exam Length&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Number of Questions&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Group Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Board Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Grade Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Category Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Language Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Subject Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Privacy&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Description&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Pricing Type&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th>Full Name</th>
          <th>Short Name</th>
          <th>Total Score</th>
          <th>Exam Id</th>
          <th>Exam Length</th>
          <th>Number of Questions</th>
          <th>Group Name</th>
          
          <th>Grade Name</th>
          <th>Subject Name</th>
          <th>Language Name</th>
          <th>Board Name</th>
          <th>Privacy</th>
          <th>Description</th>
          <th>Pricing Type</th> -->
          <!-- <th>Type Name</th>
          <th>User Type</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p} let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.fullName}}" aria-hidden="true"></i></td> -->
            <td>{{user.fullName}}</td>
            <td>{{user.shortName}}</td>
            <td>{{user.createdDate  | date:'medium':'+0000'}}</td>
            <td>{{user.totalScore}}</td>
            <td>{{user.examID}}</td>
            <td>{{user.examLength}}</td>
            <td>{{user.numberOfQuestions}}</td>
            <td>{{user.groupName}}</td>
           
            <td>{{user.boardID ? user.boardID.boardName : 'Not Applicable' }}</td>
            <td>{{user.gradeID ? user.gradeID.gradeName : 'Not Applicable' }}</td>
            <td>{{user.categoryID ? user.categoryID.categoryName : 'Not Applicable' }}</td>
            <td>{{user.languageID ? user.languageID.languageName : 'Not Applicable' }}</td>
            <td>{{user.subjectID ? user.subjectID.subjectName : 'Not Applicable' }}</td>
            <td>{{user.privacy}}</td>
            <td>{{user.description}}</td>
            <td>{{user.pricingType}}</td>
            <!-- <td>{{user.typename}}</td>
            <td>{{user.userType}}</td>
            <td>{{list}}</td> -->
          </tr>
          </tbody>
        </table>
        <h4 class="nodata" *ngIf="resultData == ''" style="color: red">There is No Data in Exams..!</h4>
        <pagination-controls (pageChange)=" p = $event" class="my-pagination" style="text-align: right;"></pagination-controls>
      </div>
    </app-card>
  </div>
</div>
