<div class="row">
  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Here..." [(ngModel)]="term">
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <button (click)="exportexcel()" class="btn excel">Export Excel</button>
    </div>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Session" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-striped" id="excel-table">
          <thead>
          <tr>
          <th>S.No</th>
       
          <th>Lession</th>
           <th>Schedule Date</th>
           <th>Schedule Time</th>
           <th>Topic</th>
          
      <th>Description</th>
           <!--<th style="visibility:  hidden">id</th>-->
            <th></th>
              <!--  // <th></th>
 -->

          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | paginate: {itemsPerPage:10,currentPage:p}; let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
          
            
              <td>{{user.lession}}</td>
              <td>{{user.ScheduleDate}}</td>
               <td>{{user.time}}</td>
                        <td>{{user.topic}}</td>
                        
                             <td>{{user.description}}</td>
                        
                            <td><button (click)="editlist(user._id)">Edit</button></td>
                             <!-- <td><button (click)="deletelist(user._id)">Delete</button></td> -->
          </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)=" p = $event" class="my-pagination" style="text-align: right;">
        </pagination-controls>
      </div>
    </app-card>
  </div>
</div>
