.btn{
    background-color: #101b33;
    color: #fff;
}
.icon{
    color: #a31212;
    cursor: pointer;
}
.length{
    color: #a31212;
    float: right;
}
// table thead tr th {
//     position:sticky;
//     top:0;
//     z-index:1;
//     border-top:0;
//     background: #ededed;
// }
  