<style>
	.my-pagination /deep/ .ngx-pagination .current {
	  background:#BEBEBE;
	}
  </style>


<div class="row">
  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Bank Name..." [(ngModel)]="filterarraybankname" (change)='onBanknameSelected($event)'>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Bank Branch..." [(ngModel)]="filterarraybankbranch" (change)='onBankbranchSelected($event)'>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <button (click)="exportexcel()" class="btn excel">Export Excel</button>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="form-group">
      <h5 class="length">Total Teacher Bank Details List :{{length}}</h5>
    </div>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Teacher Bank Details" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-striped" id="excel-tableHide" style="display: none;">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Profile Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Account Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Email&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Account Number&nbsp;<i class="fa fa-sort"></i></th>
          
          <th (click)="sort(profilename)">Account Type&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Bank Branch&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Bank Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">IFSC Code&nbsp;<i class="fa fa-sort"></i></th>

          <!-- <th>Full Name</th>
          <th>Course ID</th>
          
          <th>Group Name</th>
          <th>Privacy</th>
          <th>Short Name</th>
          <th>Grade Name</th>
          <th>Subject Name</th>
          <th>Language Name</th>
          <th> Category Name</th>
          <th>Board Name</th>
          <th>Description</th>
          <th>Security Type</th>
          <th>Type Name</th>
          <th>User Type</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:filterarraybankname | filter:filterarraybankbranch | orderBy: key: reverse; let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.fullName}}" aria-hidden="true"></i></td> -->
            <td>{{user.profileName}}</td>
            <td>{{user.accountName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.accountNumber}}</td>
            <td>{{user.accountType }}</td>
            <td>{{user.bankBranch}}</td>
            <td>{{user.bankName}}</td>
            <td>{{user.ifscCode}}</td>
            
          </tr>
          </tbody>
        </table>

        <table class="table table-striped" id="excel-table">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Profile Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Account Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Email&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Account Number&nbsp;<i class="fa fa-sort"></i></th>
          
          <th (click)="sort(profilename)">Account Type&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Bank Branch&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Bank Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">IFSC Code&nbsp;<i class="fa fa-sort"></i></th>

          <!-- <th>Full Name</th>
          <th>Course ID</th>
          
          <th>Group Name</th>
          <th>Privacy</th>
          <th>Short Name</th>
          <th>Grade Name</th>
          <th>Subject Name</th>
          <th>Language Name</th>
          <th> Category Name</th>
          <th>Board Name</th>
          <th>Description</th>
          <th>Security Type</th>
          <th>Type Name</th>
          <th>User Type</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:filterarraybankname | filter:filterarraybankbranch | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p} let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.fullName}}" aria-hidden="true"></i></td> -->
            <td>{{user.profileName}}</td>
            <td>{{user.accountName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.accountNumber}}</td>
            <td>{{user.accountType }}</td>
            <td>{{user.bankBranch}}</td>
            <td>{{user.bankName}}</td>
            <td>{{user.ifscCode}}</td>
            
          </tr>
          </tbody>
        </table>
        <h4 class="nodata" *ngIf="resultData == ''" style="color: red">There is No Data in Teacher Bank Details..!</h4>
        <pagination-controls (pageChange)=" p = $event" class="my-pagination" style="text-align: right;"></pagination-controls>
      </div>
    </app-card>
  </div>
</div>
