.btn{
    background-color: #101b33;
    color: #fff;
}
.categoryname{
    font-size: 18px;
}
.icon{
    color: #a31212;
    cursor: pointer;
}
.length{
    color: #a31212;
    float: right;
}
.th{
    font-weight: 600;
    width: 50%;
}
.nodata {
	text-align: center;
	font-size: 20px;
}
