<style>
	.my-pagination /deep/ .ngx-pagination .current {
	  background:#BEBEBE;
	}
  </style>

<div class="row">
  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Here..." [(ngModel)]="term">
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <button (click)="exportexcel()" class="btn excel">Export Excel</button>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="form-group">
      <h5 class="length">Total Classes List :{{length}}</h5>
    </div>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="Classes" blockClass="table-border-style">
      <div class="table-responsive">
        <table  class="table table-striped " id="excel-tableHide" style="display: none;">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>

          <th (click)="sort(profilename)">Class Schedule Date&nbsp;<i class="fa fa-sort"></i></th>

          <th (click)="sort(profilename)">Original Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Full Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Group Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Board Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Grade Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Category Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Language Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Subject Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Meeting Category Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Meeting ID&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Meeting Price Type&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Meeting Type&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Meeting Description&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Start Time&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">end Time&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Teacher Details&nbsp;<i class="fa fa-sort"></i></th>

          <!-- <th>Name</th>
          <th>Original Name</th>
          <th>Full Name</th>
          <th>Group Name</th>
          <th>Meeting Category Name</th>
          <th>Meeting ID</th>
          <th>Meeting Price Type</th>
          <th>Meeting Type</th>
          <th>Meeting Description</th>
          <th>Start Time</th>
          <th>end Time</th>
          <th>Board Name</th>
          <th>Category Name</th>
          <th>Language Name</th>
          <th>Subject Name</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse; let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.name}}" aria-hidden="true"></i></td> -->
            <td>{{user.name}}</td>
            <td>{{user.CreatedBy  | date:'medium':'+0000'}}</td>
            <td>{{user.ScheduleDate  | date:'medium':'+0000'}}</td>
            <td>{{user.originalname}}</td>
            <td>{{user.fullName}}</td>
            <td>{{user.groupName}}</td>
            <td>{{user.boardID ? user.boardID.boardName : 'Not Applicable' }}</td>
            <td>{{user.gradeID ? user.gradeID.gradeName : 'Not Applicable' }}</td>
            <td>{{user.categoryID ? user.categoryID.categoryName : 'Not Applicable' }}</td>
            <td>{{user.languageID ? user.languageID.languageName : 'Not Applicable' }}</td>
            <td>{{user.subjectID ? user.subjectID.subjectName : 'Not Applicable' }}</td>
            <td>{{user.meetingCategoryName}}</td>
            <td>{{user.meetingID}}</td>
            <td>{{user.meetingPriceType}}</td>
            <td>{{user.meetingType}}</td>
            <td>{{user.meetingdescription}}</td>
            <td>{{user.startTime }}</td>
            <td>{{user.endTime}}</td>
            <td>
              <button type="button" class="btn " data-toggle="modal" data-target="#myModal" (click)="onClick($event,user)">
                View
              </button>
            </td>
           
          </tr>
          </tbody>
        </table>

        <table  class="table table-striped " id="excel-table">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>

          <th (click)="sort(profilename)">Class Schedule Date&nbsp;<i class="fa fa-sort"></i></th>

          <th (click)="sort(profilename)">Original Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Full Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Group Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Board Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Grade Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Category Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Language Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Subject Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Meeting Category Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Meeting ID&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Meeting Price Type&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Meeting Type&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Meeting Description&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Start Time&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">end Time&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Teacher Details&nbsp;<i class="fa fa-sort"></i></th>

          <!-- <th>Name</th>
          <th>Original Name</th>
          <th>Full Name</th>
          <th>Group Name</th>
          <th>Meeting Category Name</th>
          <th>Meeting ID</th>
          <th>Meeting Price Type</th>
          <th>Meeting Type</th>
          <th>Meeting Description</th>
          <th>Start Time</th>
          <th>end Time</th>
          <th>Board Name</th>
          <th>Category Name</th>
          <th>Language Name</th>
          <th>Subject Name</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p} let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.name}}" aria-hidden="true"></i></td> -->
            <td>{{user.name}}</td>
            <td>{{user.CreatedBy  | date:'medium':'+0000'}}</td>
            <td>{{user.ScheduleDate  | date:'medium':'+0000'}}</td>
            <td>{{user.originalname}}</td>
            <td>{{user.fullName}}</td>
            <td>{{user.groupName}}</td>
            <td>{{user.boardID ? user.boardID.boardName : 'Not Applicable' }}</td>
            <td>{{user.gradeID ? user.gradeID.gradeName : 'Not Applicable' }}</td>
            <td>{{user.categoryID ? user.categoryID.categoryName : 'Not Applicable' }}</td>
            <td>{{user.languageID ? user.languageID.languageName : 'Not Applicable' }}</td>
            <td>{{user.subjectID ? user.subjectID.subjectName : 'Not Applicable' }}</td>
            <td>{{user.meetingCategoryName}}</td>
            <td>{{user.meetingID}}</td>
            <td>{{user.meetingPriceType}}</td>
            <td>{{user.meetingType}}</td>
            <td>{{user.meetingdescription}}</td>
            <td>{{user.startTime }}</td>
            <td>{{user.endTime}}</td>
            <td>
              <button type="button" class="btn " data-toggle="modal" data-target="#myModal" (click)="onClick($event,user)">
                View
              </button>
            </td>
           
          </tr>
          </tbody>
        </table>
        <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Teacher Details:</h4>
                <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
  
               <p><b>Firstname :</b> {{firstName}}</p>
               <p><b>Lastname :</b> {{lastName}}</p>
               <p><b>Profile name :</b> {{profileName}}</p>
               <p><b>School name :</b> {{schoolName}}</p>
               <p><b>Email :</b> {{email}}</p>
               <p><b>Phone Number :</b> {{phoneNumber}}</p>
               <p><b>Teacher ID :</b> {{teacherID}}</p>
               <p><b>Address 1 :</b> {{address1}}</p>
               <p><b>Address 2 :</b> {{address2}}</p>
               <p><b>Area :</b> {{area}}</p>
               <p><b>City :</b> {{city}}</p>
               <p><b>Country Name :</b> {{country}}</p>
               <!-- <p>Group Name : {{groupName}}</p> -->
              
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
              </div>
              
            </div>
          </div>
        </div>
        <h4 class="nodata" *ngIf="resultData == ''" style="color: red">There is No Data in Classes..!</h4>
        <pagination-controls (pageChange)=" p = $event" class="my-pagination" style="text-align: right;"></pagination-controls>
      </div>
    </app-card>
  </div>
</div>
