/* You can add global styles to this file, and also import other style files */

/* SCSS */
@import "scss/style";
// @import "~@ng-select/ng-select/themes/default.theme.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
