<style>
	.my-pagination /deep/ .ngx-pagination .current {
	  background:#BEBEBE;
	}
  </style>

<div class="row">
  <div class="col-lg-2">
    <!-- <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Here..." [(ngModel)]="term">
    </div> -->
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <button (click)="exportexcel()" class="btn excel">Export Excel</button>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="form-group">
      <h5 class="length">Total KYC Pending List :{{length}}</h5>
    </div>
  </div>
  <div class="col-xl-12">
    <!-- <app-card cardTitle="Teacher List" blockClass="table-border-style"> -->
      <div class="table-responsive">
        <table class="table table-striped" id="excel-tableHide" style="display: none;">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Teacher Profile Name&nbsp;<i class="fa fa-sort"></i></th>
          
          <th (click)="sort(profilename)">Teacher ID&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Email-Id&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th>Mobile Number</th> -->
          <th (click)="sort(profilename)">Mobile Number&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Group Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">School Name&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th (click)="sort(profilename)">Area&nbsp;<i class="fa fa-sort"></i></th> -->
          <th (click)="sort(profilename)">Status&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th (click)="sort(profilename)">State&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Address 1&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Address 2&nbsp;<i class="fa fa-sort"></i></th>
          <th>KYC Status</th> -->
          <!-- <th (click)="sort(profilename)">Category&nbsp;<i class="fa fa-sort"></i></th> -->
          <!-- <th>Group Name</th>
          <th>School Name</th>
          <th>Guardian Name</th>
          <th>Guardian Email</th>
          <th>Guardian Phone Number</th>
          <th>Categories</th>
          <th>Subjects</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse; let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.profileName}}" aria-hidden="true"></i></td> -->
            <td>{{user.CreatedBy | date:'medium':'+0000'}}</td>
            <td>{{user.teacherID.profileName}}</td>
            
            <td>{{user.teacherID.teacherID}}</td>
            <td>{{user.teacherID.email}}</td>
            <td>{{user.teacherID.phoneNumber}}</td>
            <td>{{user.teacherID.groupName}}</td>
            <!-- <td *ngIf="user.teacherID.schoolName == ''">No Data</td> -->
            <td>{{user.teacherID.schoolName}}</td>
            <td>{{user.kycDetails.status}}</td>
            <!-- <td>{{user.city}}</td>
            <td>{{user.state}}</td>
            <td>{{user.address1}}</td>
            <td>{{user.address2}}</td>
            <td><button (click)="goto(user._id)">view</button></td> -->
            <!-- <td>{{categoryname}}</td>
            <td>{{user.subjects}}</td> -->
          </tr>
          </tbody>
         
        </table>
        <table class="table table-striped" id="excel-table">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Teacher Profile Name&nbsp;<i class="fa fa-sort"></i></th>
          
          <th (click)="sort(profilename)">Teacher ID&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Email-Id&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th>Mobile Number</th> -->
          <th (click)="sort(profilename)">Mobile Number&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Group Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">School Name&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th (click)="sort(profilename)">Area&nbsp;<i class="fa fa-sort"></i></th> -->
          <th (click)="sort(profilename)">Status&nbsp;<i class="fa fa-sort"></i></th>
          <!-- <th (click)="sort(profilename)">State&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Address 1&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Address 2&nbsp;<i class="fa fa-sort"></i></th>
          <th>KYC Status</th> -->
          <!-- <th (click)="sort(profilename)">Category&nbsp;<i class="fa fa-sort"></i></th> -->
          <!-- <th>Group Name</th>
          <th>School Name</th>
          <th>Guardian Name</th>
          <th>Guardian Email</th>
          <th>Guardian Phone Number</th>
          <th>Categories</th>
          <th>Subjects</th> -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p} let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.profileName}}" aria-hidden="true"></i></td> -->
            <td>{{user.CreatedBy | date:'medium':'+0000'}}</td>
            <td>{{user.teacherID.profileName}}</td>
            
            <td>{{user.teacherID.teacherID}}</td>
            <td>{{user.teacherID.email}}</td>
            <td>{{user.teacherID.phoneNumber}}</td>
            <td>{{user.teacherID.groupName}}</td>
            <!-- <td *ngIf="user.teacherID.schoolName == ''">No Data</td> -->
            <td>{{user.teacherID.schoolName}}</td>
            <td>{{user.kycDetails.status}}</td>
            <!-- <td>{{user.city}}</td>
            <td>{{user.state}}</td>
            <td>{{user.address1}}</td>
            <td>{{user.address2}}</td>
            <td><button (click)="goto(user._id)">view</button></td> -->
            <!-- <td>{{categoryname}}</td>
            <td>{{user.subjects}}</td> -->
          </tr>
          </tbody>
         
        </table>
        <h4 class="nodata" *ngIf="resultData == ''" style="color: red">There is No Data in KYC Pending List..!</h4>
        <pagination-controls (pageChange)=" p = $event" class="my-pagination" style="text-align: right;"></pagination-controls>
      </div>
    <!-- </app-card> -->
  </div>
</div>
