<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="buddi Group Class" [options]="false">
      <hr>
      <form action="javascript:" [formGroup]="meetingForm">
          <!--<div class="form-row">
         <div class="form-group col-md-6">
            <label for="classid">Class Id</label>
            <input type="text" readonly class="form-control" id="classid" formControlName="classid"  placeholder="Class Id">
          </div>
          <div class="form-group col-md-6">
            <label for="classname">Name of Class</label>
            <input type="text" class="form-control" id="classname" formControlName="classname" placeholder="Name of Class">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="instructor">Instructor</label>
            <input type="text" class="form-control" id="instructor" formControlName="instructor" placeholder="Instructor">
          </div>
         <div class="form-group col-md-6">
           <label for="enddate">Start Date</label>
            <input type="text" class="form-control" id="startdate" formControlName="startdate" placeholder="start Date">
                                </div>
                        </div>
                          
        
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="enddate">End Date</label>
            <input type="text" class="form-control" id="enddate" formControlName="enddate" placeholder="End Date">
          </div>
          <div class="form-group col-md-6">
            <label for="inputState">Language</label>
            <select id="inputState" class="form-control" formControlName="language" (change)="selectChange($event)">
              <option selected>Select Language</option>

              <option *ngFor="let language of languageapi" [ngValue]="language._id">{{language.languageName}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="category">Category</label>
            <select id="category" class="form-control" formControlName="category" (change)="selectChange($event)">
              <option selected>Select Category</option>
              <option *ngFor="let category of categoryapi" [ngValue]="category._id">{{category.categoryName}}</option>
             
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="grade">Grade</label>
            <select id="grade" class="form-control" formControlName="grade" (change)="selectChange($event)">
              <option selected>Select Grade</option>
              <option *ngFor="let grade of gradeapi" [ngValue]="grade._id">{{grade.gradeName}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="board">Board</label>
            <select id="board" class="form-control" formControlName="board" (change)="selectChange($event)">
              <option selected>Select Board</option>
              <option *ngFor="let board of boardapi" [ngValue]="board._id">{{board.boardName}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="subject">Subject</label>
            <select id="subject" class="form-control" formControlName="subject" (change)="selectChange($event)">
              <option selected>Select Subject</option>
              <option *ngFor="let subject of subjectapi" [ngValue]="subject._id">{{subject.subjectName}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="meetingtype">Meeting Type</label>
            <select id="meetingtype" class="form-control" formControlName="meetingtype" (change)="selectChange($event)">
              <option selected>Select Meeting Type</option>
              <option>One on One</option>
              <option>Group</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="enroll">Maximum Number of Enrolled Students</label>
            <input type="text" class="form-control" id="enroll" formControlName="enroll" placeholder="Number of Enrolled Students">
          </div>
        </div>
       
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="session">Number of Session</label>
            <input type="text" class="form-control" id="session"  formControlName="session" placeholder="Number of Session">
          </div> 
          <div class="form-group col-md-6">
            <label for="exam">Number of Exams</label>
            <input type="text" class="form-control" id="exam" formControlName="exam" placeholder="Number of Exams">
          </div>
            <div class="form-group col-md-6">
            <label for="date">Schedule Date</label>
            <input type="text" class="form-control" id="scheduledate" formControlName="scheduledate" >
          </div>
         
        </div> -->
       <div class="form-row">
          <div class="form-group col-md-6">
            <label for="lesson">Lession </label>
            <input type="text" class="form-control" formControlName="lession" id="lession" placeholder="Lession " [ngClass]="{ 'is-invalid': submitted && f.lession.errors }" required>
                                  <div *ngIf="submitted && f.lession.errors" class="invalid-feedback">
                                    <div *ngIf="f.lession.errors.required">lession is required</div>
                                  </div>
          </div>
            <div class="form-group col-md-6">
            <label for="date">Date</label>
            <input type="text" class="form-control" formControlName="scheduledate" id="scheduledate" placeholder="scheduledate yyyy-mm-dd" [ngClass]="{ 'is-invalid': submitted && f.scheduledate.errors }" required>
             <div>Note: yyyy-mm-dd</div>
                                  <div *ngIf="submitted && f.scheduledate.errors" class="invalid-feedback">
                                    <div *ngIf="f.scheduledate.errors.required">scheduledate is required</div>
                                  </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="time">Time</label>
            <input type="text" class="form-control" formControlName="time" id="time" placeholder="Time hh:mm am/pm" [ngClass]="{ 'is-invalid': submitted && f.time.errors }" required>
            <div>Note: hh:mm am/pm</div>
                                  <div *ngIf="submitted && f.time.errors" class="invalid-feedback">
                                    <div *ngIf="f.time.errors.required">time is required</div>
                                  </div>
          </div>
           <div class="form-group col-md-6">
            <label for="topic">Topic </label>
            <input type="text" class="form-control" formControlName="topic" id="topic" placeholder="Topic " [ngClass]="{ 'is-invalid': submitted && f.topic.errors }" required>
                                  <div *ngIf="submitted && f.topic.errors" class="invalid-feedback">
                                    <div *ngIf="f.topic.errors.required">topic is required</div>
                                  </div>
          </div>
        </div>
         <div class="form-row">
          <div class="form-group col-md-6">
             <label for="topic">Description </label>
            <textarea type="text" class="form-control" formControlName="description" id="description" placeholder="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" required>
                                  <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                    <div *ngIf="f.description.errors.required">description is required</div>
                                  </div></textarea>

          </div>
       <div class="form-group col-md-6">
         <label for="instructor">Instructor</label>
           <input (change)="selectChange($event)" type="text" list="productList" id="inputState" class="form-control"  formControlName="instructor" >
           <datalist id="productList" >
             <select >
             <!--  <option value="" disabled>Select instructor</option> -->

              <option [id]="instructor._id"  [class]="instructor.email" *ngFor="let instructor of instructorapi" [attr.data-id]="instructor._id"  [ngValue]="instructor._id" >
              {{instructor.profileName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{instructor.email}}</option>


            </select>
          </datalist>
       </div>
        </div>
        <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
      </form>
    </app-card>
  </div>
  
</div>
