<div class="row">
  <!-- conversion-section start -->
  <div class="col-sm-12">
    <div class="row no-gutters">
      <div class="col-md-3 col-xl-2 col-sm-6 card">
        <!-- <app-card [hidHeader]="true" > -->
          <span>No.of Students</span>
          <h3>{{studentlength}}</h3>
          <!-- <app-apex-chart chartID="analytics-apex-user-chart" [chartConfig]="this.chartDB.userAACC"></app-apex-chart> -->
        <!-- </app-card> -->
      </div>
      <div class="col-md-3 col-xl-2 col-sm-6 card">
        <!-- <app-card [hidHeader]="true" > -->
          <span>No.of Teachers</span>
          <h3>{{teacherlength}}</h3>
          <!-- <app-apex-chart chartID="analytics-apex-session-chart" [chartConfig]="this.chartDB.sessionAACC"></app-apex-chart> -->
        <!-- </app-card> -->
      </div>
      <div class="col-md-3 col-xl-2 col-sm-6 card">
        <!-- <app-card [hidHeader]="true"> -->
          <span>Video Classes Uploaded</span>
          <h3>{{videolength}}</h3>
          <!-- <app-apex-chart chartID="analytics-apex-page-view-chart" [chartConfig]="this.chartDB.pageViewAACC"></app-apex-chart> -->
        <!-- </app-card> -->
      </div>
      <div class="col-md-3 col-xl-2 col-sm-6 card">
        <!-- <app-card [hidHeader]="true"> -->
          <span>e-Books Uploaded</span>
          <h3>{{ebooklength}}</h3>
          <!-- <app-apex-chart chartID="analytics-apex-page-session-chart" [chartConfig]="this.chartDB.pageSessionAACC"></app-apex-chart> -->
        <!-- </app-card> -->
      </div>
      <div class="col-md-3 col-xl-2 col-sm-6 card">
        <!-- <app-card [hidHeader]="true"> -->
          <span>No.of One-on-One Class Accepted</span>
          <h3>{{oneacceptedlength}}</h3>
          <!-- <app-apex-chart chartID="analytics-apex-avg-session-chart" [chartConfig]="this.chartDB.avgSessionAACC"></app-apex-chart> -->
        <!-- </app-card> -->
      </div>
      <div class="col-md-3 col-xl-2 col-sm-6 card">
        <!-- <app-card [hidHeader]="true"> -->
          <span>No.of One-on-One Class Pending</span>
          <h3>{{onependinglength}}</h3>
          <!-- <app-apex-chart chartID="analytics-apex-bounce-rate-chart" [chartConfig]="this.chartDB.bounceRateAACC"></app-apex-chart> -->
        <!-- </app-card> -->
      </div>

      <div class="col-md-3 col-xl-2 col-sm-6 card">
        <!-- <app-card [hidHeader]="true"> -->
          <span>Teachers KYC Pending</span>
          <h3>{{kycpendinglength}}</h3>
          <!-- <app-apex-chart chartID="analytics-apex-bounce-rate-chart" [chartConfig]="this.chartDB.bounceRateAACC"></app-apex-chart> -->
        <!-- </app-card> -->
      </div>

      <div class="col-md-3 col-xl-2 col-sm-6 card">
        <!-- <app-card [hidHeader]="true"> -->
          <span>Teachers KYC Accepted</span>
          <h3>{{kycacceptlength}}</h3>
          <!-- <app-apex-chart chartID="analytics-apex-bounce-rate-chart" [chartConfig]="this.chartDB.bounceRateAACC"></app-apex-chart> -->
        <!-- </app-card> -->
      </div>

      <div class="col-md-3 col-xl-2 col-sm-6 card">
        <!-- <app-card [hidHeader]="true"> -->
          <span>Tecahers KYC Rejected</span>
          <h3>{{kycrejectlength}}</h3>
          <!-- <app-apex-chart chartID="analytics-apex-bounce-rate-chart" [chartConfig]="this.chartDB.bounceRateAACC"></app-apex-chart> -->
        <!-- </app-card> -->
      </div>

      <div class="col-md-3 col-xl-2 col-sm-6 card">
        <!-- <app-card [hidHeader]="true"> -->
          <span>Contact Us Register</span>
          <h3>{{contactlength}}</h3>
          <!-- <app-apex-chart chartID="analytics-apex-bounce-rate-chart" [chartConfig]="this.chartDB.bounceRateAACC"></app-apex-chart> -->
        <!-- </app-card> -->
      </div>

      <div class="col-md-3 col-xl-2 col-sm-6 card">
        <!-- <app-card [hidHeader]="true"> -->
          <span>Students Register</span>
          <h3>{{studentregisterlength}}</h3>
          <!-- <app-apex-chart chartID="analytics-apex-bounce-rate-chart" [chartConfig]="this.chartDB.bounceRateAACC"></app-apex-chart> -->
        <!-- </app-card> -->
      </div>

      <div class="col-md-3 col-xl-2 col-sm-6 card">
        <!-- <app-card [hidHeader]="true"> -->
          <span>School Register</span>
          <h3>{{schoollistlength}}</h3>
          <!-- <app-apex-chart chartID="analytics-apex-bounce-rate-chart" [chartConfig]="this.chartDB.bounceRateAACC"></app-apex-chart> -->
        <!-- </app-card> -->
      </div>
    </div>
  </div>
  <!-- conversion-section end -->

  <!-- account-section start -->
 
  <!-- customer overview start -->
</div>

