<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="buddi Group Class" [options]="false">
      <hr>
      <form action="javascript:" [formGroup]="meetingForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="classid">Class Id</label>
            <input type="text" readonly class="form-control" id="classid" formControlName="classid"  placeholder="Class Id" [ngClass]="{ 'is-invalid': submitted && f.classid.errors }" required>
                                  <div *ngIf="submitted && f.classid.errors" class="invalid-feedback">
                                    <div *ngIf="f.classid.errors.required">Class Id is required</div>
                                  </div>
          </div>
          <div class="form-group col-md-6">
            <label for="classname">Name of Class</label>
            <input type="text" class="form-control" id="classname" formControlName="classname" placeholder="Name of Class" [ngClass]="{ 'is-invalid': submitted && f.classname.errors }" required>
                                  <div *ngIf="submitted && f.classname.errors" class="invalid-feedback">
                                    <div *ngIf="f.classname.errors.required">Class name is required</div>
                                  </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="instructor">Instructor</label>
<!--              <select id="inputState" class="form-control" formControlName="instructor" (change)="selectChange($event)">
            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="item in people | filter: $select.search">
              <div ng-bind-html="item.name | highlight: $select.search"></div>
              <small ng-bind-html="item.email | highlight: $select.search"></small>
            </ui-select-choices>
          </ui-select> -->
            <!--  <select id="inputState" class="form-control" formControlName="instructor" (change)="selectChange($event)">
              <option value="" disabled>Select instructor</option>

              <option *ngFor="let instructor of instructorapi" [ngValue]="instructor._id">
              {{instructor.profileName}}   &nbsp;&nbsp;&nbsp;{{instructor.email}} </option>

            </select> -->
 <!-- mat-form-field>
    <mat-select >
      <mat-option>
        <ngx-mat-select-search ></ngx-mat-select-search>
      </mat-option>

      
    </mat-select>
  </mat-form-field> -->
          <!--    <ng-select></ng-select> -->
           <input (change)="selectChange($event)" type="text" list="productList" id="inputState" class="form-control"  formControlName="instructor" >
           <datalist id="productList" >
             <select >
             <!--  <option value="" disabled>Select instructor</option> -->

              <option [id]="instructor._id"  [class]="instructor.email" *ngFor="let instructor of instructorapi" [attr.data-id]="instructor._id"  [ngValue]="instructor._id" >
              {{instructor.profileName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:{{instructor.email}}</option>


            </select>
          </datalist>
          </div>
         <div class="form-group col-md-6">
           <label for="enddate">Start Date</label>
            <input type="text" class="form-control" id="startdate" formControlName="startdate" placeholder="start Date yyyy-mm-dd" [ngClass]="{ 'is-invalid': submitted && f.startdate.errors }" required>
            <div>Note: yyyy-mm-dd</div>
                                  <div *ngIf="submitted && f.startdate.errors" class="invalid-feedback">
                                    <div *ngIf="f.startdate.errors.required">Start date name is required</div>
                                  </div>
                                </div>
                        </div>
                          
        
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="enddate">End Date</label>
            <input type="text" class="form-control" id="enddate" formControlName="enddate" placeholder="End Date yyyy-mm-dd" [ngClass]="{ 'is-invalid': submitted && f.enddate.errors }" required>
             <div>Note: yyyy-mm-dd</div>
                                  <div *ngIf="submitted && f.enddate.errors" class="invalid-feedback">
                                    <div *ngIf="f.enddate.errors.required">End date name is required</div>
                                  </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputState">Language</label>
            <select id="inputState" class="form-control" formControlName="language" (change)="selectChange($event)">
              <option value="" disabled>Select Language</option>

              <option *ngFor="let language of languageapi" [ngValue]="language._id">{{language.languageName}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="category">Category</label>
            <select id="category" class="form-control" formControlName="category" (change)="selectChange($event)">
              <option value="" disabled>Select Category</option>
              <option *ngFor="let category of categoryapi" [ngValue]="category._id">{{category.categoryName}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="grade">Grade</label>
            <select id="grade" class="form-control" formControlName="grade" (change)="selectChange($event)">
              <option value="" disabled>Select Grade</option>
              <option *ngFor="let grade of gradeapi" [ngValue]="grade._id">{{grade.gradeName}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="board">Board</label>
            <select id="board" class="form-control" formControlName="board" (change)="selectChange($event)">
              <option value="" disabled>Select Board</option>
              <option *ngFor="let board of boardapi" [ngValue]="board._id">{{board.boardName}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="subject">Subject</label>
            <select id="subject" class="form-control" formControlName="subject" (change)="selectChange($event)">
              <option value="" disabled>Select Subject</option>
              <option *ngFor="let subject of subjectapi" [ngValue]="subject._id">{{subject.subjectName}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="meetingtype">Meeting Type</label>
            <select id="meetingtype" class="form-control" formControlName="meetingtype" (change)="selectChange($event)">
              <option value="" disabled>Select Meeting Type</option>
              <option selected>One on One</option>
              <option>Group</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="enroll">Maximum Number of Enrolled Students</label>
            <input type="text" class="form-control" id="enroll" formControlName="enroll" placeholder="Number of Enrolled Students" [ngClass]="{ 'is-invalid': submitted && f.enroll.errors }" required>
                                  <div *ngIf="submitted && f.enroll.errors" class="invalid-feedback">
                                    <div *ngIf="f.enroll.errors.required">Enroll is required</div>
                                  </div>
          </div>
        </div>
       
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="session">Number of Session</label>
            <input type="text" class="form-control" id="session"  formControlName="session" placeholder="Number of Session"[ngClass]="{ 'is-invalid': submitted && f.session.errors }" required>
                                  <div *ngIf="submitted && f.session.errors" class="invalid-feedback">
                                    <div *ngIf="f.session.errors.required">session  is required</div>
                                  </div>
          </div>
          <div class="form-group col-md-6">
            <label for="exam">Number of Exams</label>
            <input type="text" class="form-control" id="exam" formControlName="exam" placeholder="Number of Exams" [ngClass]="{ 'is-invalid': submitted && f.exam.errors }" required>
                                  <div *ngIf="submitted && f.exam.errors" class="invalid-feedback">
                                    <div *ngIf="f.exam.errors.required">Exams is required</div>
                                  </div>
          </div>
         
        </div>
       <!--  <div class="form-row">
         
          <div class="form-group col-md-3">
            <label for="lesson">Lesson 1</label>
            <input type="text" class="form-control" formControlName="lesson" id="lesson" placeholder="Lesson ">
          </div>
          <div class="form-group col-md-3">
            <label for="date">Date</label>
            <input type="text" class="form-control" formControlName="date" id="date" placeholder="Date">
          </div>
          <div class="form-group col-md-3">
            <label for="time">Time</label>
            <input type="text" class="form-control" formControlName="time" id="time" placeholder="Time">
          </div>
          <div class="form-group col-md-3">
            <label for="topic">Topic 1</label>
            <input type="text" class="form-control" formControlName="topic" id="topic" placeholder="Topic ">
          </div>
        <div class="form-group col-md-2 button">
            <button type="submit" class="btn btn-primary">Add More</button>
          </div>
          
        </div> -->
        <button type="submit" (click)="onSubmit()" class="btn btn-primary" id="submitButton">Submit</button>
      </form>
    </app-card>
  </div>
  
</div>
