

.btn{
    background-color: #101b33;
    color: #fff;
}
.icon{
    color: #a31212;
    cursor: pointer;
}
.length{
    color: #a31212;
    float: right;
}
.nodata {
	text-align: center;
	font-size: 20px;
}