<style>
	.my-pagination /deep/ .ngx-pagination .current {
	  background:#BEBEBE;
	}
  </style>

<div class="row">
  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Here..." [(ngModel)]="term">
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <button (click)="exportexcel()" class="btn excel">Export Excel</button>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="form-group">
      <h5 class="length">Total Group Details List :{{length}}</h5>
    </div>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="BuddiGroupClass" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-striped" id="excel-tableHide" style="display: none;">
          <thead>
          <tr>
          <th>S.No</th>
          <th (click)="sort(profilename)">Class Id&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)" >Class Name&nbsp;<i class="fa fa-sort"></i></th>
         <!--  <th>Instructor</th> -->
         <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Start Date&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">End Date&nbsp;<i class="fa fa-sort"></i></th>
       <!--    <th>Category Name</th>
          
          <th>Board Name</th>
          <th>Grade Name</th>
          <th>Subject Name</th>
          <th>Language Name</th> -->
          
          <th (click)="sort(profilename)">Meeting Type&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Max Entrolled Student&nbsp;<i class="fa fa-sort"></i></th>
        <!--   <th>Lession</th>
           <th>Schedule Date</th>
           <th>Schedule Time</th>
           <th>Topic</th> -->
           <th (click)="sort(profilename)">Number of Session&nbsp;<i class="fa fa-sort"></i></th>
           <th (click)="sort(profilename)">Number of Exam&nbsp;<i class="fa fa-sort"></i></th>
           <th></th>
            <th></th>




          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p} let i=index" >
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <td>{{user.meetingID}}</td>
            <td>{{user.name}}</td>
          <!--   <td>{{user.instructor}}</td> -->
          <td>{{user.CreatedBy  | date:'medium':'+0000'}}</td>
            <td>{{user.startTime| date:'medium':'+0000' }}</td>
            <td>{{user.endTime | date:'medium':'+0000'}}</td>
          
         <!--    <td>{{user.categoryID}}</td>
            <td>{{user.boardID}}</td>
            <td>{{user.gradeID}}</td>
              <td>{{user.subjectID}}</td> 
              <td>{{user.languageID}}</td>-->
              <td>{{user.meetingType}}</td>
              <td>{{user.studentCount}}</td>
          <!--     <td>{{user.lession}}</td>
              <td>{{user.ScheduleDate}}</td>
              <td>{{user.time}}</td>
                        <td>{{user.topic}}</td> -->
                          <td>{{user.numberofsession}}</td>
                            <td>{{user.numberofexam}}</td>
                            <td> <button (click)='goto(user._id)'>View </button></td>
                             <td> <button (click)='delete(user._id)'>Delete </button></td>
          </tr>
          </tbody>
        </table>
        <table class="table table-striped" id="excel-table">
          <thead>
          <tr>
          <th>S.No</th>
          <th (click)="sort(profilename)">Class Id&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)" >Class Name&nbsp;<i class="fa fa-sort"></i></th>
         <!--  <th>Instructor</th> -->
         <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Start Date&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">End Date&nbsp;<i class="fa fa-sort"></i></th>
       <!--    <th>Category Name</th>
          
          <th>Board Name</th>
          <th>Grade Name</th>
          <th>Subject Name</th>
          <th>Language Name</th> -->
          
          <th (click)="sort(profilename)">Meeting Type&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Max Entrolled Student&nbsp;<i class="fa fa-sort"></i></th>
        <!--   <th>Lession</th>
           <th>Schedule Date</th>
           <th>Schedule Time</th>
           <th>Topic</th> -->
           <th (click)="sort(profilename)">Number of Session&nbsp;<i class="fa fa-sort"></i></th>
           <th (click)="sort(profilename)">Number of Exam&nbsp;<i class="fa fa-sort"></i></th>
           <th></th>
            <th></th>




          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p} let i=index" >
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <td>{{user.meetingID}}</td>
            <td>{{user.name}}</td>
          <!--   <td>{{user.instructor}}</td> -->
          <td>{{user.CreatedBy  | date:'medium':'+0000'}}</td>
            <td>{{user.startTime| date:'medium':'+0000' }}</td>
            <td>{{user.endTime | date:'medium':'+0000'}}</td>
          
         <!--    <td>{{user.categoryID}}</td>
            <td>{{user.boardID}}</td>
            <td>{{user.gradeID}}</td>
              <td>{{user.subjectID}}</td> 
              <td>{{user.languageID}}</td>-->
              <td>{{user.meetingType}}</td>
              <td>{{user.studentCount}}</td>
          <!--     <td>{{user.lession}}</td>
              <td>{{user.ScheduleDate}}</td>
              <td>{{user.time}}</td>
                        <td>{{user.topic}}</td> -->
                          <td>{{user.numberofsession}}</td>
                            <td>{{user.numberofexam}}</td>
                            <td> <button (click)='goto(user._id)'>View </button></td>
                             <td> <button (click)='delete(user._id)'>Delete </button></td>
          </tr>
          </tbody>
        </table>
        <h4 class="nodata" *ngIf="resultData == ''" style="color: red">There is No Data in Group Details..!</h4>
        <pagination-controls (pageChange)=" p = $event" class="my-pagination" style="text-align: right;"></pagination-controls>
      </div>
    </app-card>
  </div>
</div>
