<style>
	.my-pagination /deep/ .ngx-pagination .current {
	  background:#BEBEBE;
	}
  </style>
<div class="row">
  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Here..." [(ngModel)]="term" >
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
      <button (click)="exportexcel()" class="btn excel">Export Excel</button>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="form-group">
      <h5 class="length">Total School List :{{length}}</h5>
    </div>
  </div>
  <div class="col-xl-12">
    <app-card cardTitle="School - Register" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-striped" id="excel-tableHide" style="display: none;">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Admin Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Admin Email&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Admin Mobile Number&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Location&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Number of Students&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">School ID&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">School Name&nbsp;<i class="fa fa-sort"></i></th>
         
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse; let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.fullName}}" aria-hidden="true"></i></td> -->
            <td>{{user.adminName}}</td>
            
 <td>{{user.createdAt  | date:'medium':'+0000'}}</td>
            <td>{{user.adminEmail}}</td>
            <td>{{user.adminPhoneNumber}}</td>
            <td>{{user.location}}</td>
            <td>{{user.numberOfStudents}}</td>
            <td>{{user.schoolID}}</td>
            <td>{{user.schoolName}}</td>
           
          </tr>
          </tbody>
        </table>

        <table class="table table-striped" id="excel-table">
          <thead>
          <tr>
          <th>S.No</th>
          <!-- <th>Delete</th> -->
          <th (click)="sort(profilename)">Admin Name&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Created Date&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Admin Email&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Admin Mobile Number&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Location&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">Number of Students&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">School ID&nbsp;<i class="fa fa-sort"></i></th>
          <th (click)="sort(profilename)">School Name&nbsp;<i class="fa fa-sort"></i></th>
         
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let user of resultData | filter:term | orderBy: key: reverse | paginate: {itemsPerPage:10,currentPage:p} let i=index">
            <td>{{ (p - 1) * 10 + i +1 }}</td>
            <!-- <td><i class="fa fa-trash icon" title="Delete&nbsp;{{user.fullName}}" aria-hidden="true"></i></td> -->
            <td>{{user.adminName}}</td>
            
 <td>{{user.createdAt  | date:'medium':'+0000'}}</td>
            <td>{{user.adminEmail}}</td>
            <td>{{user.adminPhoneNumber}}</td>
            <td>{{user.location}}</td>
            <td>{{user.numberOfStudents}}</td>
            <td>{{user.schoolID}}</td>
            <td>{{user.schoolName}}</td>
           
          </tr>
          </tbody>
        </table>
        <h4 class="nodata" *ngIf="resultData == ''" style="color: red">There is No Data in School Register..!</h4>
        <pagination-controls (pageChange)=" p = $event" class="my-pagination" style="text-align: right;"></pagination-controls>
      </div>
    </app-card>
  </div>
</div>
