

<div class="container">
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-5"> <h3>Free Class</h3></div>
        <div class="col-lg-5"></div> 
    </div>
     <br>
     <br>
    <div class="borderClass">
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-2">
                <label class="marginRight">No of Classes</label>
            </div>
            <div class="col-lg-3">
                <input class="marginRight" type="number" placeholder="Free Class Count" [(ngModel)]="classCount"  >
            </div>
            <div class="col-lg-3">         
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-3"> <button (click)="updateFreeClass(false)">Add Free Class</button></div>
            <div class="col-lg-3"> <button [disabled]="freeClassDetails.length==0" (click)="updateFreeClass(true)">Update Free Class</button></div>
            <div class="col-lg-2"></div> 
        </div>
    <!--         <div class="row">            
                <div class="col-lg-5"></div>
                <div class="col-lg-5"> <button (click)="updateFreeClass(true)">Update Free Class</button></div>
                <div class="col-lg-5"></div> 
            </div> -->
        <br>
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-5"><span>Total credited class :{{sum}}</span></div>
            <div class="col-lg-5"></div> 
        </div>
       
    </div>
   
</div>